[2014-01-21 13:40] mrniko opened #1 "Implement RedissonSortedSet"
Implement with binary insertion algorithm

[2014-02-05 16:25] #1 closed, assigned to mrniko

[2014-02-06 19:33] igorbrigadir opened #2 "SCAN or ZRANGE operations as Java Iterators?"
Just an idea, would this be possible? Still new to Redis / Redisson.

[2014-02-07 08:08] mrniko opened #3 "Rework connection management to use master/slave redis instances"

[2014-02-12 09:58] christophstrobl opened #4 "Add support for TIME command."
It would be great to see `TIME` supported.

See also [#19 in lettuce](https://github.com/wg/lettuce/issues/19).

[2014-02-14 09:02] brotherdetjr opened #5 "Promises vs Futures?"
Hi there!
As I understand, Future returned by RedisAsyncConnection moves API user back to the blocking world. Java futures are NOT non-blocking by nature, they have blocking get(). Thus API user needs to spawn new threads and say hello to threading overhead again. Then why Netty is used?
I propose to return promises (Java's 8 CompletableFuture, Guava's ListenableFuture or jdeferred's promises).

T

[2014-03-13 15:43] doggie1989 opened #7 "Is all methods of collections redisson provide synchronized?"

[2014-03-13 15:48] #7 closed, assigned to nobody

[2014-03-14 14:56] bjdodo opened #8 "Setting expiry"
Hi
I could not find a way to set expiry for the contents of the cache from within Java. Is this true, or did I miss something?

Thank you
Jozsef

[2014-04-15 12:51] trichner opened #9 "WRITE_BIGDECIMAL_AS_PLAIN Error"
I just imported redisson 1.0.3 via maven, set up a redis-server on localhost on default port and wanted to try the redisson redis client. My test code looks as following:

[code]

But I'm getting an Error:

[code]

Am I doing something wrong or is this a dependency problem?

[2014-04-16 18:13] #9 closed, assigned to nobody

[2014-05-04 07:02] constantine97a opened #11 "this "synchronized " protect what?"
in RedisClient.java

[code]

this "synchronized " protect what?

[2014-05-06 13:08] pprun opened #12 "load balancer does not work as expected"
I have test code for the load balance, but only the first instance got the load:

public static void main(String[] args) {
        Config config = new Config();
        //config.setConnectionPoolSize(100); // default 100
        // Redisson will use load balance connections between listed servers
        String[] redisInstances = new String[]{"192.168.9.101:6379", "192.168.9.102:6379"};
        co

[2014-05-07 06:11] #11 closed, assigned to nobody

[2014-05-07 06:13] cleyshan opened #13 "Provide access to the underlying connection manager"
It would be nice if the Redisson class exposed its connection manager.  The use case is to access low level redis commands using the same pool of connections as the high-level redisson abstractions.  Currently its protected and private which means I have to resort to ugly hacks to get to it.

[2014-05-07 06:16] cleyshan opened #14 "Eval method does not work in RedisAsyncConnection"
The eval method does not seem to work for me.  I traced the cause to this line in theRedisAsyncConnection:eval() method:

args.addValue(script).add(keys.length).addKeys(keys).addValues(values)

It should instead be:

args.add(script).add(keys.length).addKeys(keys).addValues(values)

In its current form, the script is escaped with double quotes and cannot be interpreted by redis.

[2014-05-07 08:22] #14 closed, assigned to nobody

[2014-05-08 17:43] mathieucarbou opened #15 "Add Kryo Encoder"
See GIST: https://gist.github.com/mathieucarbou/21051be4a2abd7cc1006

[2014-05-08 17:46] mathieucarbou opened #16 "URGENT: java.lang.NoSuchFieldError: WRITE_BIGDECIMAL_AS_PLAIN"
I do not have Jackson and do not want to use it. Sadly, the Config class has a hard pointer on it:

`private RedissonCodec codec = new JsonJacksonCodec();`

Thus when creating a new Config instance I have the exception:

[code]

Codecs should be made optional or at least the default should be the Serializer codec which only depends on the JDK, or a simple String <=> String codec.

For now I cannot

[2014-05-09 07:02] #15 closed, assigned to nobody

[2014-05-09 16:47] #16 closed, assigned to nobody

[2014-05-14 03:00] renzihui opened #17 "Publish message method should be moved out from RTopic"
Pub a message doesn't require a pubsub connection, however get a RTopic does. There are many cases just want to publish a message, get a RTopic from Redisson will automatically subscribe on the channel, which is unnecessary and there is no safe way to close topic after publish message since there may be some listeners are actually interested in the topic.

BTW, RedisConnection has a method  publis

[2014-05-21 23:42] buremba opened #18 "Support for HLL"
It would be really nice if you can add support for PFADD | PFCOUNT | PFMERGE commands in Redisson.

[2014-05-23 14:53] tigerclawn82 opened #19 "Android Support"
Hi,
   I want to use this inside Android, is it supported?

Thanks

[2014-05-25 10:34] mp911de opened #20 "Question: Why do you have imported lettuce code into your project?"
Hi,
why do you have imported lettuce code into your project instead of referencing it via artifact?

The approach your library works is quite cool providing collections. It's just somehow annoying having no access to the underlying RedisClient. Redisson.create(RedisClient client) or even redisson.getList(RedisClient client, String name) etc. would be a way opener approach. The current way, it's Re

[2014-05-26 05:11] renzihui opened #21 "ConnectionWatchdog not works as expected"
Hi Nikita, when I ran some load test, ConnectionWatchdog did not restore PubsubConnection correctly (my env is redis 2.8.3, java 1.7.0_45,Netty 4.0.19 final, OSX 10.9.2). After some digging, I found a couple of problems,
1) When ChannelInitilizor ChannelInitializer.initChannel is called,           pipeLine.get(CommandHandler.class) and pipeLine.get(RedisAsyncConnection.class) return null, I guess

[2014-05-26 05:24] #21 closed, assigned to nobody

[2014-05-27 13:20] mathieucarbou opened #23 "Make ConnectionManager accessible from Redisson"
Hi,

When we create a Redisson object, I would also need to execute some Redis commands.

What is the best way ? Do I need to create another ConnectionManager completely separate from the one in the Redisson class, or it would be better to access the one created on the Redisson object, so that we can re-use it ?

Thanks!

[2014-05-28 17:05] #19 closed, assigned to nobody

[2014-05-30 05:33] #20 closed, assigned to nobody

[2014-05-30 10:52] #8 closed, assigned to nobody

[2014-05-30 10:57] #17 closed, assigned to nobody

[2014-06-02 00:13] ghost opened #24 "Support For Master Detection?"
Does reddison support the ability to add both a master and slave addresses and only write to the master?

[2014-06-02 12:23] #5 closed, assigned to nobody

[2014-06-02 12:29] #18 closed, assigned to nobody

[2014-06-03 16:53] #23 closed, assigned to nobody

[2014-06-03 18:31] mathieucarbou opened #26 "Thread-safety questions - access to Thread-safe connection"
In RBucket we have:

[code]
1. get connection
2. do something
3. return back to pool

Before using this, I was simply getting a RedisConnection from the connection manager like this:

[code]

The RedisConnection class javadoc states that the connection is thread-safe. So I was keeping a singleton reference over one connection to issue some simple commands like get, set, del, ... from several threa

[2014-06-04 12:06] #26 closed, assigned to nobody

[2014-06-04 15:07] trichner opened #27 "Question: Does redisson handle redis clusters?"
Redisson clusters may return a 'MOVED' if a key is on another shard, does redisson handle that?

[2014-06-05 05:26] mrniko opened #28 "Sorted set scores collapsed to zeros"
After running for a week or two, the scores collapsed to zeros or nead zero (10^-300) and we encountered an infinite loop in redisson when adding (it couldnt settle on a score). So we will manage the score ourselves.

[2014-06-06 17:27] #24 closed, assigned to nobody

[2014-06-06 22:52] ghost opened #29 "Auth Issue Only On Read"
I just added requirepass and masterauth to my configuration for 3 slaves and a master.  Using 1.5 I am able to write just fine, but when I tried Map::get I get a RedisException: "NOAUTH Authentication required."

I've tried just using a single connection to the master, a 'useMasterSlaveConnection' with only 'setMasterAddress', and a 'useMasterSlaveConnection' with all hosts configured.

When I con

[2014-06-07 07:28] mrniko opened #30 "Detecting any the elected master changes (using redis sentinels)...."

[2014-06-07 07:46] #29 closed, assigned to nobody

[2014-06-07 15:17] #28 closed, assigned to nobody

[2014-06-08 06:52] #12 closed, assigned to nobody

[2014-06-08 06:59] mrniko opened #31 "Add removeAsync, addAsync methods to RSortedSet and RSet"

[2014-06-09 20:48] ghost opened #32 "NPE On RedissonTopic.publish & RedisPubSubConnection.channelRead"
Same client code worked with 1.4 but not 1.5

[2014-06-09 22:06] mathieucarbou opened #33 "Warning in Redisson 1.1.0 - NullPointerException (An exceptionCaught() event was fired)"
[code]

[2014-06-09 22:18] mathieucarbou opened #34 "getBucket().get() returns null on Redisson 1.1.0"
redis monitor shows the setex followed by the get

[code]

the code:

[code]

code returns null.

[2014-06-10 14:12] #32 closed, assigned to nobody

[2014-06-10 17:30] #33 closed, assigned to nobody

[2014-06-19 14:22] #34 closed, assigned to nobody

[2014-06-19 15:42] #30 closed, assigned to nobody

[2014-06-19 16:14] mathieucarbou opened #35 "Several question about Redisson / Jedis"
Note: I don't really know if there is a better place to ask for these sorts of questions... ;-)

Besides all the cool features added to Redisson to use locks, queues, maps, etc... How does Redisson performs compared to Jedis in terms of:

* memory usage
* speed
* number of concurrent connections supported
* use in multi-threading app requiring in both case using a pool
* thread-safety
* etc...

Fo

[2014-06-26 17:11] #3 closed, assigned to nobody

[2014-06-26 17:12] #13 closed, assigned to nobody

[2014-06-30 11:54] #2 closed, assigned to mrniko

[2014-07-01 07:00] #31 closed, assigned to mrniko

[2014-07-01 07:04] mrniko opened #36 "Wrong password error if auth fails"

[2014-07-01 07:25] #36 closed, assigned to mrniko

[2014-07-03 12:58] mrniko opened #37 "Cluster support"

[2014-07-10 10:43] nottix opened #39 "Locking on Jersey"
I'm trying to use Lock and Unlock on Jersey Resource.
1. User makes a POST request
2. System LOCK "A"
3. System does some stuff
4. System UNLOCK "A"
5. User makes another POST request
6. System LOCK "A"
7. System does some stuff
8. System UNLOCK "A"

The system crashes at point 6 (view attachment).

If i try to make some LOCK-UNLOCK in a while loop it works, but when i make these LOCK-UNLOCK from

[2014-07-10 16:20] #39 closed, assigned to mrniko

[2014-07-10 16:33] nottix opened #40 "Lock TTL"
Any plan to add TTL to a Lock operation? Don't confuse with tryLock with TIME.

I refer to a situation where a thread is dead and leave a resource locked (deadlock).

[2014-07-11 08:40] lianghaijian opened #41 "Two serious issues"
1.Sentinel not support auth password.（I have solve this problem）
2.When redis sentinel occur failover，redisson can not failover to new master automatic。

[2014-07-16 06:23] #40 closed, assigned to mrniko

[2014-07-17 17:24] mrniko opened #42 "Batch/Pipeline operations support"
Operates with `async` methods only. Code example:
[code]

[2014-07-17 17:24] mrniko opened #43 "Transactions support"

[2014-07-17 17:26] mrniko opened #44 "Add RMap.fastPut method"

[2014-07-17 17:33] mrniko opened #45 "Implement operation auto-retry"

[2014-07-18 11:44] mrniko opened #46 "Add RMap.fastRemove method"

[2014-07-18 14:28] #44 closed, assigned to mrniko

[2014-07-18 14:47] #46 closed, assigned to mrniko

[2014-07-19 18:07] cchacin opened #47 "Use interfaces to easy DI and Unit testing"
[code]

[code]

[2014-07-20 08:39] Scisaga opened #49 "Get Object From Distributed Map, Command timed out"
Using Distributed Map, put obj is ok, when get some obj by key, an exception will occur:

Exception in thread "main" com.lambdaworks.redis.RedisException: Command timed out
    at com.lambdaworks.redis.RedisAsyncConnection.await(RedisAsyncConnection.java:1179)
    at com.lambdaworks.redis.RedisConnection.await(RedisConnection.java:843)
    at com.lambdaworks.redis.RedisConnection.hget(RedisConnect

[2014-07-20 08:48] #49 closed, assigned to nobody

[2014-07-20 09:04] mrniko opened #50 "Implement RLock.newCondition"

[2014-07-20 09:05] mrniko opened #51 "1.3"

[2014-07-20 09:06] #51 closed, assigned to nobody

[2014-07-20 09:09] mrniko opened #52 "Exceptions handling during deserialization"

[2014-07-20 10:42] Scisaga opened #53 "Local cache for Redission"
Does redisson support local cache?

For some usage scenario, local read is very heavy, local write is not much, and the delay of data synchronization can be tolerated in seconds. Some configurable cache mechanism could be helpful.

[2014-07-20 15:09] mrniko opened #54 "Add RMap.getAll(Set<K> keys)"
Use hmget

[2014-07-20 15:24] mrniko opened #55 "Add RMap.filterKeys"

[2014-07-20 15:24] mrniko opened #56 "Add RMap.filterValues"

[2014-07-20 15:25] mrniko opened #57 "Add RMap.filterEntries"

[2014-07-23 07:15] #45 closed, assigned to mrniko

[2014-07-23 07:25] #52 closed, assigned to mrniko

[2014-07-23 07:33] #4 closed, assigned to mrniko

[2014-07-23 08:53] #55 closed, assigned to mrniko

[2014-07-23 08:55] #56 closed, assigned to mrniko

[2014-07-23 11:00] #54 closed, assigned to mrniko

[2014-07-23 12:58] #57 closed, assigned to mrniko

[2014-07-29 05:10] #47 closed, assigned to nobody

[2014-07-29 11:48] mrniko opened #58 "Sentinel event listeners"
ability to register event listeners for sentinel server events

[2014-07-29 22:55] shmosel opened #59 "Timeout and database"
I don't see any way to configure a timeout or select a database. Am I missing something?

[2014-07-30 10:54] #59 closed, assigned to mrniko

[2014-07-31 05:29] shmosel opened #60 "RedissonList"
`RedissonList.subList()` doesn't conform to the specifications of `java.util.List`, which states that `subList()` returns a *view* backed by the current list.

On a related note, it would be nice to also have access to some of the buffered collections in addition to the redisson wrapper collections. If you're expecting to read all or most of a list, it would be wasteful to have to call `RedissonLi

[2014-08-02 07:37] gust-whisper opened #61 "Why RTopic.removeListener unsubscribes underlying PubSub channel"
I ran into an issue in which I found if I remove a listener from an RTopic, it will unsubscribe the entire channel, which will kill the connection for all listeners and RTopic subscribed to the same channel. Following is the code in question.

RedissonTopic.class
    @Override
    public void removeListener(int listenerId) {
        PubSubConnectionEntry entry = connectionManager.getEntry(getName(

[2014-08-04 04:12] rferreira opened #62 "Netty NPE"
Hey folks, I'm seeing this error on redisson 1.1.5 and it seems completely sporadic

[code]

[2014-08-04 10:16] #62 closed, assigned to mrniko

[2014-08-06 12:42] #61 closed, assigned to mrniko

[2014-08-08 17:36] rekhajaya opened #65 "Failover in Redisson with Redis Cluster"
I have created a cluster with 3 master and 3 slave.
port 7000 seems to be myself,master.
If 7000 goes down I get a connection refused exception with Redisson. Ideally it should shift to its slave.

I am copying the exception here
com.lambdaworks.redis.RedisConnectionException: Unable to connect /127.0.0.1:7000
at com.lambdaworks.redis.RedisClient.connect(RedisClient.java:183)
at com.lambdaworks.re

[2014-08-14 19:46] shmosel opened #66 "Key exists"
Is there a way to distinguish between empty and non-existent collections? (Or some way to invoke the EXISTS command?)

[2014-08-14 21:05] #66 closed, assigned to nobody

[2014-08-15 00:55] shmosel opened #67 "RedissonList concurrency problem"
How is it ever safe to rely on `RedissonList.size()` when each invocation can technically return a different value? This would mean that calling `subList(0, size())`, or even two consecutive calls to `hasNext()` on the iterator (which is normally what happens) can potentially cause an exception.

[2014-08-20 14:30] marciorodrigues87 opened #69 ""Connection Leak" in RedissonBucket"
Hi guys!

When I get some error, eg: redis servers down, in getAsync and setAsync the connection is not released, once the release is done in a Promise listener, that never executes, can you check this please?

Regards,

Marcio

[2014-08-20 22:32] judodan opened #70 "Keys adding quotes when going to data store"
I was working with redisson adding data to the data store.  I was having issues, so I went to the command line to check what was in the data store and couldn't find my structures (although the program seemed to find them OK).  So I listed the keys and got this:

127.0.0.1:6379> keys *
1) "\"resource\""
2) "\"processedMap\""
3) "\"agentCounter\""
4) "\"processCounter\""
5) "\"routedMap\""

then fro

[2014-08-21 10:04] iskernel opened #71 "Constructors for RBucket, RList, etc should be protected, not default."
Use Case:
1)Extending the Redisson data types as part of a data abstraction layer.

[2014-08-26 07:13] pprun opened #72 "StackOverflowError"
Invocation of init method failed; nested exception is java.lang.StackOverflowError

WARN  [org.redisson.connection.RoundRobinLoadBalancer](localhost-startStop-1:) Can't connect to /192.168.1.203:6379, trying next connection!
2014-08-26 14:35:21,194 WARN  [org.redisson.connection.RoundRobinLoadBalancer](localhost-startStop-1:) Slave subscribe-connection pool gets exhausted! Trying to acquire connec

[2014-08-29 19:02] lrezek opened #73 "Lua Script Evaluation Support"
Hey, I was wondering if there is any way to execute a LUA script in redisson. I can do it through the connection manager, using something like this:
[code]
But obviously that's not the cleanest solution. Would it be possible to add a public `evalScript()` method, or something of the sort to the `Redisson` class? Thanks!

[2014-09-13 22:44] doggie1989 opened #74 "BSON support for compress"

[2014-09-15 08:42] doggie1989 opened #75 "Guava RateLimiter Redisson implementation."

[2014-09-19 04:01] alex-sherwin opened #76 "Add wildcard pubsub support (psubscribe/punsubscribe)"
The RedisPubSubConnection class already had a psubscribe and punsubscribe methods for dispatching commands to Redis, but they are not hooked up to anything

The RTopic interface should get a new addPListener and removePListener and all the underlying changes necessary to propagate down to RedisPubSubConnection

[2014-09-23 06:56] martinou opened #78 "it reached at the tail of the pipelin"
i.n.channel.DefaultChannelPipeline [151] - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
java.lang.NullPointerException: null
    at com.lambdaworks.redis.protocol.CommandOutput.decodeAscii(CommandOutput.java:110) ~[redisson-1.1.5.jar:na]
    at com.lambdaworks.redis.output.StatusOut

[2014-09-30 22:08] shmosel opened #79 "Redisson keys should be objects"
Since `RedissonCodec` supports any type of serialized key, `RedissonObject.name` should be of type `Object` so that we can invoke `Redisson.getList(someSerializableObject)` etc.

[2014-10-01 00:00] shmosel opened #80 "Error while deserializing arrays with JsonJacksonCodec"
I'm getting the following exception when deserializing some array types with `JsonJacksonCodec`:

[code]

To reproduce:

[code]

[2014-10-02 21:01] shmosel opened #81 "Allow separate Master/Slave password configuration"

[2014-10-16 21:20] kimb opened #83 "Deadlock while obtaining lock"
Thread gets stuck while obtaining lock. Running 'keys L*' in redis-cli returns an empty list.

[code]

The same lock name was likely concurrently obtained and held by another thread possibly on another jvm, and then released.

Redisson version used: 1.1.5

[2014-10-18 06:21] kimb opened #84 "Lock reentrancy race"
in RedissonLock.tryLockInner(long, TimeUnit):

[code]

At line A the lock key is set only if it doesn't exist (NX), but on line B it's set assuming it still exists. If the lock timeouts between A and B, another process may obtain the lock, which is then overwritten at B.

Here's a test case:

[code]

This will reliably fail if:
- run in debug mode with a breakpoint placed in RedissonLock.tryLockIn

[2014-10-20 05:01] timoahokas opened #85 "Topic subscription: not re-subscribing after slave down or master change"
Hi,

Redis: 2.8.14
Redisson: 1.1.5
Environment: 1 master & 2 slaves on separate hosts (each running Redis & Redis Sentinel)
Redisson connection: SentinelServersConfig (with 3 sentinels configured)

We subscribe to a number of topics from all our clients talking to Redis via SentinelServersConfig. If there is a Redis failover/down event, the topics aren't properly re-subscribed to and messaging sto

[2014-11-01 04:28] pluttrell opened #86 "How do I register a Module on the Jackson ObjectMapper instance Redisson is using under the covers so it can handle Java8 time types?"
We are using Java8 java.time.Instant as the type in our objects, and running into this problem:

com.fasterxml.jackson.databind.JsonMappingException: No suitable constructor found for type [simple type, class java.time.Instant]: can not instantiate from JSON object (need to add/enable type information?)

And according to the Jaxson question I asked here: https://github.com/FasterXML/jackson-docs/i

[2014-11-02 21:17] jsotuyod opened #87 "Unhandled IllegalStateException in RedissonLock"
I make heavy use of RLock in my app, and from time to time I find this in my logs.

[2014-11-03 20:18] jsotuyod opened #89 "RedissonLock locks up"
Under heavy use on production, Redisson's locks get all locked up, and the application stalls. I'm using Redisson 1.1.5

I have 1 thread locked trying to release a lock:

Also of note, I have about 30 other threads locked awaiting for a lock (a different one from the one used by the previous thread).

I checked the threads with jstack, here is the relevant output:

I checked Redis's state:

this k

[2014-11-04 03:42] shmosel opened #90 "Infinite loop on connection failure"
I'm using Redisson in Master/Slave configuration, and I'm running into an endless loop when using a bad address. `BaseLoadBalancer.nextConnection()` get called, catches the `RedisConnectionException`, then loops until `clientsCopy` is empty, then enters `nextConnection()` again, resulting in an infinite recursive loop.

[2014-11-06 06:56] ouyangshixiong opened #91 "list name has extra Quotation marks"
when I put a list named monitor_list into redis through redisson, It come up like "monitor_list" . The key in redis has extra Quotation marks. Please check it out.

[2014-11-08 13:11] #87 closed, assigned to nobody

[2014-11-12 13:42] #91 closed, assigned to nobody

[2014-11-12 14:58] #70 closed, assigned to mrniko

[2014-11-13 06:47] #84 closed, assigned to nobody

[2014-11-18 13:36] #86 closed, assigned to mrniko

[2014-11-18 13:39] #83 closed, assigned to mrniko

[2014-11-18 16:55] #69 closed, assigned to nobody

[2014-11-18 17:15] #89 closed, assigned to mrniko

[2014-11-18 17:37] #71 closed, assigned to mrniko

[2014-11-18 17:38] #78 closed, assigned to nobody

[2014-11-19 15:31] jsotuyod opened #96 "README.md not up to date"
Kudos on the new release! I'm already deploying it to production. Unfortunately, README.md is now outdated (no changelog, the version for Maven users is still 1.1.5, so on). It could be misleading for new users.

[2014-11-19 18:12] #96 closed, assigned to nobody

[2014-11-24 08:50] #80 closed, assigned to nobody

[2014-11-27 16:50] #85 closed, assigned to mrniko

[2014-11-28 07:10] ansjsun opened #98 "use treeMap putall Rmap throw nullpoitn"
[code]

[code]

rmap = redisson.getMap("test")

when throw this exception ..i  found the rmap and other reference is error but not null???!!!

[2014-11-28 11:03] #98 closed, assigned to nobody

[2014-12-02 05:27] ansjsun opened #101 "when thread is interrupt...all Reference variables is locked!!"
the redisson is locked!

all Reference variables is locked!!

[code]

[2014-12-02 07:38] #101 closed, assigned to mrniko

[2014-12-04 15:27] alycecil opened #102 "SAdd in RedisAsyncConnection uses wrong AddValues"
line 629 uses addMapValues for sadd rather than addValues

This causes JsonJacksonCodec to fail on Longs stored with the mapObjectMapper to fail to be deparsed by objectMapper;

Change line 629
-         CommandArgs<K, V> args = new CommandArgs<K, V>(codec).addKey(key).addMapValues(members);
-        CommandArgs<K, V> args = new CommandArgs<K, V>(codec).addKey(key).addValues(members);

---

Test c

[2014-12-05 02:10] petropolis opened #103 "How can I get all the keys in Redisson?"
I need to delete all the keys in the database. How do I do this in Redisson? I can't figure out a way to get the RedisConnection handle from my Redisson object so I can call the flushdb() call.

[2014-12-05 15:08] alycecil opened #104 "RedissonAtomicLong expiring during get causes NullPointerException"
This happens on RedissonAtomicLong , line 101 " return res.longValue(); " as the Number res is null after async.

Theres the dirty fix of wrapping with something akin to
if(res!=null){
        return res.longValue();
}
return 0l;

Also likely occurs in other methods.

---

Heres the unit test if you're interested:

@Ignore
    public void getUntilGone() {
        long initialValue = 5l;

[code]

[2014-12-05 18:11] #104 closed, assigned to mrniko

[2014-12-15 14:32] #72 closed, assigned to mrniko

[2014-12-15 17:36] #102 closed, assigned to mrniko

[2014-12-15 17:36] #90 closed, assigned to mrniko

[2014-12-17 19:18] ansjsun opened #105 "use rmap class not have default consturctor throw exception"
use rmap class not have default consturctor throw exception , and the network is broken

[2014-12-17 21:06] alycecil opened #106 "RedissonList's Iterator Race Conditions"
RedissonList iterator as it tries to keep "up to date" with data has a race condition in which if between the .hasNext() and the .next() call the set is emptied the list will throw NoSuchElementException.

---
## Unit Test

private static final String LIST_NAME = "TEST_LIST";
private static boolean failed;

[code]

---
## Additional Information

This also effects RedissonSet, but much less likely

[2014-12-18 18:49] #106 closed, assigned to nobody

[2014-12-20 08:47] #105 closed, assigned to nobody

[2015-01-05 07:26] canh-nguyen opened #107 "How to config read data from slave servers?"

[2015-01-05 09:16] mrniko commented on #107
read-only operations are always use slave servers

[2015-01-05 09:32] canh-nguyen commented on #107
if i have 3 slave server(A, B,C), then client will read from server A, B or C?

[2015-01-05 09:59] duybinh0208 opened #108 "Config a specific slave for read operation"
Assume that I have 3 zones z1, z2, and z3. Also I setup master node at z1, slave node 01 at z2, and slave node 02 at z3. I want to config like this:
- Read operation from z1 is redirected to master node
- Read operation  from z2 is redirected to slave node 01
- Read operation  from z3 is redirected to slave node 02
I want to achieve this because there is long distance between different zones. I th

[2015-01-05 10:01] mrniko commented on #107
which server configuration do you use - master-slave, sentinel or cluster?

[2015-01-05 10:04] mrniko commented on #108
Very unusual case, why did you introduced a zone? There is no such term "zone" in redis server

[2015-01-05 10:05] mrniko commented on #107
Yes using random or roundrobin balancer which could be configured

[2015-01-05 10:11] duybinh0208 commented on #108
Assume that I setup nodes in different countries. Master node in US, slave node in SG. Zone mean the location. I want the data to be consistency across multiple zones.

[2015-01-05 10:21] canh-nguyen commented on #107
Hi, could you please let me know how to define roundrobin balancer via config?

[2015-01-05 10:27] mrniko commented on #107
Here is an example

[code]

[2015-01-05 16:36] marto opened #109 "Can't get Redisson 1.1.7 to work in an OSGi container"
Apologies if this is not the right forum to raise this bug.

I have  been trying to deploy redisson to an OSGi container however I can't get v1.1.7 to work even though it's one of Radissons features. Here are some details of what I have so far found.

Redisson has a "provided" scoped maven dependency on kryo (com.esotericsoftware.kryo:kryo:2.24.0), but the OSGi manifest imports ```com.esotericsoft

[2015-01-06 06:48] #107 closed

[2015-01-06 10:34] mrniko commented on #109
Fixed. Please check

[2015-01-07 08:01] #109 closed

[2015-01-07 08:26] #65 closed

[2015-01-07 08:54] mrniko commented on #37
Please track development in https://github.com/mrniko/redisson/issues/27

[2015-01-07 08:54] #37 closed

[2015-01-08 09:35] mrniko commented on #27
Done!

[2015-01-08 09:35] #27 closed

[2015-01-10 18:10] trichner commented on #27
awesome job! thanks!

[2015-01-15 10:17] bwzhang2011 opened #112 "could redisson provide integration with netty5 snapshot ?"
netty5 seems widely used and does many enhancement for last year. does any test or integration with redisson take into consideration or provide some small modification to make it compatible or provide some new branch for testing ? if any done it would be much appreciated.

[2015-01-15 10:31] mrniko commented on #112
Where? There is no any stable build of netty5.

[2015-01-16 02:08] bwzhang2011 commented on #112
@mrniko, I just mean that though netty5 does not provide stable version for releasing but it did exactly widely used in many project though with the title snapshot. switching from netty4 to netty5 seems not very difficult maybe it could start a new brach for testing. so that's some suggestion compared with your stable idea with netty framework integration.

[2015-01-19 23:58] JacobJohansen opened #113 "weird null exception error"
I was wondering if anyone else has seen this and what the cause would be(threading?)
[code]

[2015-01-21 16:43] JacobJohansen commented on #113
connection issue with pool set up, Solved

[2015-01-21 16:43] #113 closed

[2015-01-21 16:47] JacobJohansen opened #114 "LockInterruptibly"
General Question
would calling lockInterruptibly(long leaseTime, TimeUnit unit) multiple times act like a watchdog reset? and reset the TTL

[2015-01-23 09:30] mrniko commented on #112
I'll start integration with netty 5 when stable build with frozen api of this lib will be available

[2015-01-23 13:53] zkiss opened #116 "ClassCastException in RedissonCountDownLatch.trySetCount"
Take a nice and clean redis server.

Execute the following code twice
[code]

At the second execution you get a ClassCastException

[code]

And the redis monitor output is
[code]

Running on Java 8

[2015-01-25 12:57] mrniko commented on #116
fixed

[2015-01-25 12:57] #116 closed

[2015-01-30 13:09] msimonin opened #117 "Does Redisson support BlockingQueue ?"
I just read the documentation, but in the documentation there is no mention of BlockingQueue.
Does redisson support this ? I'm wondering because redis supports natively blocking operation on queues. Am I missing something ?

[2015-02-04 03:43] bbrui opened #118 "java.lang.ClassCastException java.lang.Integer cannot be cast to org.redisson.RedissonLock$LockValue"
when use lock,but throw some class cast exception,sample code :
import java.util.concurrent.locks.Lock;
import org.redisson.Config;
import org.redisson.Redisson;
import org.redisson.connection.RandomLoadBalancer;
import org.redisson.core.RBucket;
public class RedissonLockTest {
	public static void main(String[] args) {
		RedissonLockTest test=new RedissonLockTest();
		test.test2();
	}
	public  voi

[2015-02-04 05:04] bbrui commented on #112
replace channelUnregistered  method sign  of  handlerRemoved in CommandHandler.java,it can suport netty5.
and jar dependency is
 <dependency>
	  	<groupId>io.netty</groupId>
	  	<artifactId>netty-all</artifactId>
	  	<version>5.0.0.Alpha1</version>
</dependency>
<dependency>
	  	 <groupId>com.fasterxml.jackson.core</groupId>
		  <artifactId>jackson-annotations</artifactId>
		  <version>2.1.4</vers

[2015-02-04 08:50] bbrui commented on #118
I solved a problem by myself.
redisson.getLock("lock");           the parameter of getLock   need not  exist  in redis.

[2015-02-04 08:50] #118 closed

[2015-02-04 11:47] JBodkin opened #119 "SingleConnectionManager doesn't respect timeouts"
SingleConnectionManager ignores timeouts set by the configuration, defaults to MasterSlaveConnectionManager timeouts

[2015-02-05 13:20] mrniko commented on #117
Currently, reddison doesn't support this feature.

[2015-02-09 08:51] clive82 opened #120 "When using Redisson.getMap("mapName").addAndGet() setting data, Redisson.getMap("mapName").get() call will be blocked。"
When using Redisson.getMap("mapName").addAndGet() setting data, Redisson.getMap("mapName").get() call will be blocked。

[2015-02-10 14:29] jackygurui opened #121 "IllegalArgumentException when hostname is the local loop back in IPv6 format "::1""
When the connection returns a master address that is the local loop back in IPv6 format, meaning "::1", it causes the following exception:
java.lang.IllegalArgumentException: hostname can't be null
at java.net.InetSocketAddress.checkHost(InetSocketAddress.java:149)
at java.net.InetSocketAddress.(InetSocketAddress.java:216)
at com.lambdaworks.redis.RedisClient.(RedisClient.java:64)
at org.redisson.

[2015-02-10 15:04] mrniko commented on #119
Fixed

[2015-02-10 15:04] #119 closed

[2015-02-11 14:35] #114 closed

[2015-02-13 09:26] savanpatel opened #122 "ClusterConnectionManager sets nodesValues as null"
Hi,

Following the examples given in the docs, I've initialized my cluster servers as follows:
Configurations.m_config.useClusterServers()
                                 .setScanInterval(1000);
Configurations.m_config.useClusterServers()
                                 .addNodeAddress("127.0.0.1:6379");

Now, I get a null pointer exception when I try to do Redisson.create using the above config

[2015-02-13 13:26] mrniko commented on #122
@savanpatel
You should create a redis cluster first. Please read this [how-to](http://redis.io/topics/cluster-tutorial) about it

[2015-02-13 13:26] #122 closed

[2015-02-13 13:54] savanpatel commented on #122
Thanks.

[2015-02-13 17:28] danielchatfield opened #123 "Promise timeout (temporary) resource leak"
When a promise has been fulfilled the timeout task should be cancelled. Currently this is not the case and means that the (potentially very large) amounts of data included in the promise will remain on the heap until the timeout fires.

An example:

 - A request is made for a large (millions of entries) dataset.
 - The promise is returned and then fulfilled
 - The data is consumed and the promise

[2015-02-14 02:51] bwzhang2011 commented on #112
@bbrui  thanks for review. please take a look at https://github.com/netty/netty/issues/2933 and give the last advice for redisson integration with netty5.

[2015-02-15 06:55] mrniko commented on #123
This fixed here https://github.com/mrniko/redisson/issues/119

[2015-02-20 12:28] alexbeletsky opened #124 "Connection timeout"
I am testing redisson library with the situation when redis server is down at some point.

The scenario is:
1. Redis server is up
2. My java app initialises the connection with redis server properly
3. Redis server goes down
4. Java app wants to read an example key from redis
5. After aprox 4 mins I have timeout exception which is completely fine:

[code]

My question is: How can I change the time

[2015-02-20 12:34] alexbeletsky commented on #124
Ok, just found #123 regarding almost same problem. Closing this one.

[2015-02-20 12:34] #124 closed

[2015-02-20 17:38] mrniko commented on #123
fixed

[2015-02-20 17:38] mrniko commented on #123
@danielchatfield i just added a timeout cancellation it should helps

[2015-02-20 17:39] #123 closed

[2015-02-25 14:01] #35 closed

[2015-02-25 15:32] mathieucarbou opened #125 "Implement getBuckets(String pattern)"
To be able to get a list of buckets from a key pattern

[2015-02-25 17:10] mathieucarbou opened #127 "KryoCodec: do not encode / decode keys"
Have the smae behavior as Jackson codec, because encoding / decoding keys made them unable to be retreived by patterns such as api:sessions:*

[2015-02-26 06:56] mrniko commented on #125
done

[2015-02-26 06:56] #125 closed

[2015-02-26 06:57] #127 closed

[2015-03-01 23:09] PashaTurok opened #129 "Java Redisson on single server"
I am trying to understan how redisson lib works with redis on my single server. I've downloaded redis, started it and can to the following:

 ./redis-cli
127.0.0.1:6379> get mykey
"somevalue"

Then I've installed in my javaee osgi application redisson and its libs. However, I can't understand how to get my "mykey". The connection I create this way:

Config config = new Config();
config.useSingleSe

[2015-03-02 06:32] mrniko commented on #129
redisson.getBucket("mykey").get();
or
redisson.getBucket("mykey").getAsync();

[2015-03-02 07:30] PashaTurok commented on #129
Thank you for quick reply.

I did this way:
Redisson redisson = Redisson.create(config);
System.out.println("Test:"+redisson.getBucket("mykey").get());
redisson.shutdown();
But I get the following:

  An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
java.lang.IllegalStateException: com.

[2015-03-02 12:46] mrniko commented on #129
it should a json value

[2015-03-02 15:38] PashaTurok opened #130 "Redisson and multiple like inserts"
Lets suppose I have a list of some students - the current list has students with ids: 3,5,8. As I understand I don't need to use redis list here as I don't need to keep order. The order I don't need as it's clear it's just SOME of students. However I want to cache them.
I think I need to use here redis type string and do something like db:stundents:{id}. My question - how can I do multiple insert

[2015-03-02 15:38] PashaTurok commented on #129
Ok. Thank you.

[2015-03-02 15:38] #129 closed

[2015-03-02 17:40] PashaTurok opened #131 "Redisson sorted set creates list in redis server"
I do the following:
Redisson redisson = RedissonManager.getRedisson();
        RSortedSet<...> rSet;
        Set<...> set = new HashSet<>(list);//list to set
        rSet = redisson.getSortedSet("test");
        rSet.addAll(set);
but when I do
./redis-cli
type test
it return "list". Why does redisson creates list and how can I do sorted set with scores using redisson?

[2015-03-02 22:12] PashaTurok opened #132 "Storing RBucket<Map<Integer,String>> returns RBucket<Map<String,String>>"
I store HashMap<Integer,String> but after taking it from redisson I get HashMap<String,String> or HashMap<Object,Object>. Checking it via cli I get
"{\"@class\":\"java.util.HashMap\",\"3\":\"\xd0\x91\xd1\x83\xd1\x85\xd0\xb3\xd0\xb0\xd0\xbb\xd1\x82\xd0\xb5\xd1\x80\xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd1\x83\xd1\x87\xd0\xb5\xd1\x82: \xd0\x9e\xd1\x82\xd1\x87\xd0\xb5\xd1\x82\xd0\xbd\xd0\xbe\xd1\x81\xd1\x

[2015-03-03 02:45] pdeschen commented on #117
Hi @mrniko Accepting PR for this? I have an implementation of a `RedissonBlockingQueue` working.

[2015-03-03 06:26] mrniko commented on #131
with current sort algorithm it uses list under the hood, it's hard to use sorting by score with java comparator.

[2015-03-03 06:32] mrniko commented on #117
@pdeschen yea, i'll review it

[2015-03-03 06:42] mrniko commented on #132
Strange case, you need to patch `org.redisson.codec.JsonJacksonCodec` for this because it's hard to extract type from generics. And i have no idea for now how to do it.

It's better to use RMap in your case.

[2015-03-03 06:58] msimonin commented on #117
+1

[2015-03-03 07:09] PashaTurok commented on #131
So redisson doesnt support redis sorted sets?

[2015-03-03 07:17] PashaTurok commented on #132
Maybe this will help: http://stackoverflow.com/a/3687852/4568213

[2015-03-03 08:43] mrniko commented on #131
it implements sorted set but not mapped to redis sorted set type

[2015-03-03 21:17] pdeschen commented on #120
Confirmed. Same goes for `getAsync`. Test case:

[code]

Last 2 asserts fail.

[2015-03-03 21:23] pdeschen commented on #79
@shmosel I think it wouldn't be inline with the [general](http://redis.io/topics/data-types-intro#redis-keys) [principles](http://stackoverflow.com/a/6971415/475884) and conventions behind keys.

[2015-03-03 21:27] pdeschen commented on #74
Interesting idea. Since redisson already uses jackson, maybe have a look at [bson4jackson](https://github.com/michel-kraemer/bson4jackson).

[2015-03-03 22:47] pdeschen commented on #120
A bit more details on this one: it appears that `ResultListener` receives `null` from future within `onOperationComplete`.

[2015-03-04 07:39] mrniko commented on #74
@pdeschen no it can't be used as replacement due to this [issue](https://github.com/michel-kraemer/bson4jackson/issues/43)

[2015-03-04 11:39] doggie1989 commented on #75
@mrniko
any ideas on this function?

[2015-03-04 11:46] doggie1989 opened #134 "more than one decoder/encoder for redisson and auto Type detection."
auto detection support will be nice, json,xml,protocolbuffer,kyro

[2015-03-04 13:56] mrniko commented on #120
fixed

[2015-03-04 13:56] #120 closed

[2015-03-04 14:46] mrniko commented on #75
@doggie1989 which rates you need to limit? requests amount per sec from redisson to server?

[2015-03-04 14:54] #131 closed

[2015-03-04 14:57] doggie1989 commented on #75
Guava RateLimiter can only limit rate on local machine.
what I want is a distributed  RateLimiter.
for example, you have 10 consumers machines ,the speed of each one is 50~100 per second which depends on network or other reasons and the total consume rate is from 500~1000,but the rate must under 600.
Do you know what I mean?

[2015-03-07 14:48] doggie1989 commented on #134
@mrniko do you have any idea on this feature?

[2015-03-07 15:12] doggie1989 opened #135 "Autocomplete functions for redisson?"
http://autocomplete.redis.io/

[2015-03-12 09:58] LrsK opened #136 "Addings string to set stores the string with quotes"
Storing the string "myString" using myset.add("myString") ends up being stored as "\"myString\"" in redis.

[2015-03-13 07:22] rudgirello opened #137 "Add ability to specify codec per RTopic"
Being able to specify codec per pub/sub topic is helpful when you would like to re-use the same Redisson client for a variety of topics all with different serialization strategies.

[2015-03-13 09:22] doggie1989 commented on #137
#134

[2015-03-14 09:36] mrniko commented on #117
Done

[2015-03-14 09:36] #117 closed

[2015-03-14 10:23] mrniko commented on #121
fixed

[2015-03-14 10:23] #121 closed

[2015-03-15 19:33] jackygurui commented on #121
Nice one. Thanks.

[2015-03-16 06:30] mrniko commented on #73
I'll implement it in next few days

[2015-03-25 11:56] teknologist opened #138 "How to check if Redis Server is available ?"
Hi,

This may be a stupid question but we fail to find a quick way to check if the Redis server is up & running before trying anything on it.

is there any quick and simple way to check for the servers connection ?

Many thanks in advance,

Cheers!

[2015-04-02 12:39] mrniko commented on #73
Done

[2015-04-02 12:39] #73 closed

[2015-04-06 17:08] pushkarajc opened #140 "Support for onSubscribe and onUnsubscribe events for PubSub"
Is there a way to simulate that right now? MessageListener currently only supports event listening for message events. Users(like me) are also interested in reacting to subscribe and unsubscribe events.

[2015-04-09 12:29] vlebedev opened #141 "How to rename a key in Redisson?"
It seems that redisson is not providing access to low-level redis connector which makes issuing RENAME command on any key impossible, though sometimes it could be very handy.

[2015-04-09 19:10] sgraves66 opened #142 "Feature request"
Ability to auto-unlock RLock's when the owning server is stopped, crashes, leaves the cluster, etc.

[2015-04-11 10:30] mrniko commented on #141
rename methods added to RObject interface

[2015-04-11 10:45] mrniko commented on #141
Done

[2015-04-11 10:45] #141 closed

[2015-04-11 10:49] mrniko commented on #138
Hi, do you use Redisson in single server mode? you may use redis PING command for this aim

[2015-04-13 08:15] clive82 opened #143 "SortedSet needed"
It's inconvenience  to use sorted set like this:
			connectionManagerField = Redisson.class.getDeclaredField("connectionManager");
			connectionManagerField.setAccessible(true);
			connectionManager = (ConnectionManager) connectionManagerField.get(redisson);

		Double result = connectionManager.get(connectionManager.writeAsync(new ResultOperation<Double, E>() {
			@Override
			public Future<Double

[2015-04-14 19:08] doggie1989 opened #144 "SortedSet.subSet() support"

[2015-04-16 05:58] AndrewKolpakov opened #145 "Connection errors handling breaks redis watch/multi/exec semantics"
Let's look into org.redisson.RedissonMap#replace(K, V, V)
Good scenario:
watch -> ok
hexists -> ok
multi -> ok
hset -> queued
exec -> ok

Bad scenario:
watch -> ok
hexists -> ok
multi -> ok
hset -> operation timeout or other error handled by MasterSlaveConnectionManager#readAsync , retry on new connection, result ok
exec -> "exec without multi" failure

Impact: in bad scenario map content can be r

[2015-04-16 06:04] AndrewKolpakov commented on #142
+1 for pr #100 :)

[2015-04-18 17:37] enghch commented on #42
Shouldn't it be more like this:

RBatch batch = redisson.createBatch();

RMap<Integer, Integer> map = batch.getMap("map");
Future<?> future1 = map.fastPutAsync(1, 2);
Future<?> future2 = map.putAsync(2, 3);
Future<?> future3 = map.fastPutAsync(3, 4);

List<Future<?>> futures = batch.execute();
// or
Future<List<Future<?>>> futures = batch.executeAsync();

[2015-04-19 20:15] ahmedaswai opened #146 "Long as Key in Hashs"
I tried to use the library then I started running  the next code , the map has K-->String(JSON)

RMap<Long, String> map = redisson.getMap("lst_pos");
map.fastPut(354330031528808L, jsonBuilder.toJson(pos));

but unfortunately  when I checked the redis I found the key stored  in the hash as String by the next format
["java.lang.Long",354330031528808]

is there is any way to store the Key as Long to

[2015-04-19 21:39] ajbrown commented on #146
+1

[2015-04-20 11:51] mekingshow opened #147 "Use issues ----lock(long leaseTime, TimeUnit unit)"
when i run the method

com.lambdaworks.redis.RedisException: ERR wrong number of arguments for 'set' command

How to solve this problem？

@Test
    public void testExpire() throws InterruptedException {
        RLock lock = redisson.getLock("lock");
        lock.lock(2, TimeUnit.SECONDS);

        final long startTime = System.currentTimeMillis();
        final CountDownLatch latch = new CountDown

[2015-04-21 09:06] mrniko opened #148 "BRPOPLPUSH and RPOPLPUSH support"

[2015-04-24 14:28] #148 closed

[2015-04-24 14:44] mrniko commented on #146
without type info it could lead to problem during deserialization - Integer confuses with Long

For example: you store 1L but Redisson will read it as integer because it doesn't know anything about it type.

[2015-04-24 14:45] mrniko commented on #143
ScoreSortedSet will be added

[2015-04-24 16:18] ahmedaswai commented on #146
Yeah , but now our java or Scala codes are the only can parse those keys , so if you have python or or ruby programmer , you should inform them that the keys are stored by Java class names

[2015-04-26 11:01] espiegel opened #149 "Get/Set strings"
How do I get/set a simple string with Redisson?

[2015-04-27 16:05] ahmedaswai commented on #149
Redisson redisson = Redisson.create();

 RBucket<byte[]> bucket = redisson.getBucket("YourKey");

   bucket.setAsync(obj); or    bucket.set(obj);

[2015-05-04 17:48] pablote opened #151 "Naming connection"
Is there a way to name the Redis connection? I haven't see an option on the config object.

[2015-05-05 09:27] JensRantil opened #152 "Old readme version"
The readme's pom.xml extract refers to 1.2.0, but 1.2.1 is released. Is 1.2.1 not pushed to maven repository, or is the readme simply not updated?

[2015-05-07 11:07] AndrewKolpakov commented on #146
@ahmedaswai You can use custom codec - copy JsonJacksonCodec and remove `if (t.getRawClass() == Long.class)` from  TypeResolverBuilder.
But you shouldn't use longs for keys and values in map/list/queue structures.

[2015-05-07 11:28] huylv opened #153 "[Question] What if I don't call Redission#shutdown()?"
Hi,
I'm using this library together with Storm. Since the connection should essentially be alive during streaming to be able to read/write continuously, I don't want to call `Redission#shutdown()`. I wonder what would happen to the connection? What if a node that uses the connection fails in the middle of a stream?
Thank you.
Huy

[2015-05-07 12:20] mrniko commented on #153
You will have an open connections in ConnectionManager and live netty-threads.

[2015-05-07 12:23] huylv commented on #153
How do I come over this?

[2015-05-09 10:44] ketankhairnar commented on #8
@mrniko I tried to implement RExpirable interface but there is no way to create connection-manager. I referred RedissonExpirable and other objects extending from it.

It seems that Connection Manager etc are well encapsulated. Can you point to me to any example where RExpirable is implemented outside Redisson code base.

thanks in advance.

[2015-05-09 22:27] ahmedaswai opened #154 "Calling Publish On Topic in the Listener of Another Topic"
I have an issue related to publish message on topic inside the subscribe listener on another topic. I am getting this exception io.netty.util.concurrent.BlockingOperationException: DefaultPromise@6c7a158e(incomplete).

The code
------------------------

private MessageListener<String> getMessageListener(){

        return new MessageListener<String>() {
            @Override
            public voi

[2015-05-13 09:49] gitriver opened #155 "lock.lock(2, TimeUnit.SECONDS)"
RLock lock = redisson.getLock("anyLock");
lock.lock(2, TimeUnit.SECONDS);
lock.unlock();

run it ,report error:
Exception in thread "main" com.lambdaworks.redis.RedisException: ERR wrong number of arguments for 'set' command
at com.lambdaworks.redis.protocol.Command.complete(Command.java:76)
at com.lambdaworks.redis.protocol.CommandHandler.decode(CommandHandler.java:77)
at com.lambdaworks.redis.pr

[2015-05-13 09:51] gitriver commented on #155
RLock lock = redisson.getLock("anyLock");
lock.lock(2, TimeUnit.SECONDS);
lock.unlock();

run it ,report error:
Exception in thread "main" com.lambdaworks.redis.RedisException: ERR wrong number of arguments for 'set' command
	at com.lambdaworks.redis.protocol.Command.complete(Command.java:76)
	at com.lambdaworks.redis.protocol.CommandHandler.decode(CommandHandler.java:77)
	at com.lambdaworks.redis

[2015-05-13 09:52] #155 closed

[2015-05-13 09:54] gitriver opened #156 "lock.lock(2, TimeUnit.SECONDS) report error ERR wrong number of arguments for 'set' command"
RLock lock = redisson.getLock("anyLock");
lock.lock(2, TimeUnit.SECONDS);
lock.unlock();

run it ,report error:
Exception in thread "main" com.lambdaworks.redis.RedisException: ERR wrong number of arguments for 'set' command
at com.lambdaworks.redis.protocol.Command.complete(Command.java:76)
at com.lambdaworks.redis.protocol.CommandHandler.decode(CommandHandler.java:77)
at com.lambdaworks.redis.pr

[2015-05-13 09:54] gitriver commented on #156
version is 1.2.0

[2015-05-15 07:59] wmz7year opened #157 "How to set the RMap put timeout"
Hello  I'm testing the redisson with Master/Slave module .
When redis memory is exhaustion the RMap.put will be wait.
There is no any Exception or someting.
Is anyway to fix this?

[2015-05-15 14:42] dpdev3 opened #158 "[Question] Using Redission how to achieve LRU ?"
(1) Using Redission how to achieve LRU?

(2) How to set expiry for one particular object of the Bucket or List or Set ?

[2015-05-18 07:41] carlvine500 opened #159 "No enum const class org.redisson.connection.ClusterNodeInfo$Flag.HANDSHAKE"
redis version: redis-3.0.0
./src/redis-cli -c -p 7001 cluster nodes
-------------------------------------------------------------------------------------------------------------------------
9d97b7a1ee8cc52446a234f7f721e144aceacde3 10.126.53.98:7001 myself,slave a9b71c24f6dc8dca99969f82762904eef69947a9 0 0 2 connected
a9b71c24f6dc8dca99969f82762904eef69947a9 10.126.53.98:7004 master - 0 14319338966

[2015-05-18 08:08] mrniko commented on #157
does redis have error in this situation?

[2015-05-18 10:20] mrniko commented on #159
fixed

[2015-05-18 10:51] carlvine500 opened #160 "suggest StringCodec as default Codec"
JsonJacksonCodec performance is not so Good  , suggest  StringCodec as default Codec .

 JsonJacksonCodec VS StringCodec ：
-----------------------------------------------------
server 8core16G , one redis node , concurrent 200 ,total task 2000*1000,each task set 128byte to redis
 =====JsonJacksonCodec========
 Requests per second:	13479.335--QPS
======StringCodec=========
 Requests per second:	344

[2015-05-18 12:35] rmalchow opened #161 "NPE in RedissonExpirable"
hi,

i keep seeing occasional null pointer exceptions in RedissonExpriable, line 37 (when i try to extend the lifetime of a bucket). i only see this in one environment, not on a second one and not on my local. i am assuming that i am having some connectivity issues there. could that be a cause? why is it an NPE?

[2015-05-18 13:06] freevest opened #162 "[BUG]Thread dead lock when using distributed lock on 1.2.1"
I run into a thread dead lock problem when using distributed lock on 1.2.1:

public static CryptorInstance getCryptorInstanceFromCluster(Redisson redisson) throws NoAvailableCyrptorException
{
	boolean successGetFlag = false;
	CryptorInstance returnInstance = null;

	RLock portLock = null;
	try
	{
		portLock = DAO_Redisson.redisson.getLock(CryptorMessageConstant.DISTRIBUTED_LOCK_CRYPTOR_SELECTOR_N

[2015-05-18 13:07] freevest opened #163 "Thread dead lock bug when using distributed lock on 1.2.1"
I run into a thread dead lock problem when using distributed lock on 1.2.1:

public static CryptorInstance getCryptorInstanceFromCluster(Redisson redisson) throws NoAvailableCyrptorException
{
	boolean successGetFlag = false;
	CryptorInstance returnInstance = null;

	RLock portLock = null;
	try
	{
		portLock = DAO_Redisson.redisson.getLock(CryptorMessageConstant.DISTRIBUTED_LOCK_CRYPTOR_SELECTOR_N

[2015-05-18 13:10] freevest commented on #156
Your redis version may be too low to support SET with timeout, try to use a higher version of redis

[2015-05-18 13:16] freevest commented on #162
![Uploading QQ图片20150518211336.jpg…]()
As you can see, 9 of 10 thread have long been into a 'WAIT' status.

[2015-05-19 10:10] mrniko commented on #162
could write a test for this?

[2015-05-19 10:11] mrniko commented on #160
StringCode good for strings only. Jackson used to serialize any object

[2015-05-19 10:12] mrniko commented on #156
i agree, please update your Redis server to 2.8 at least

[2015-05-21 03:03] carlvine500 opened #164 "will redisson support ASKING when migrating slot ?"

[2015-05-22 10:18] #159 closed

[2015-05-22 10:19] #160 closed

[2015-05-25 06:14] Gladmir commented on #134
It would be nice to support some kind of runtime detection via optional serialisation sub-frameworks. Jersey Jax-RS implementation provides similar functionality.

[2015-05-25 10:52] mrniko commented on #164
Where you would use this command?

[2015-05-25 10:53] mrniko commented on #134
@Gladmir could you provide Jersey Jax-RS api example of this?

[2015-05-25 11:59] carlvine500 commented on #164
after migrating key=a from one slot to another,  but the node-slots is not changed,
and we send (set a=1) to the old node, redis will tell me asking another node.
eg: after migrating a from 7001 to 7002
127.0.0.1:7001> get a
(error) ASK 15495 10.126.53.98:7002
127.0.0.1:7001> quit
[root@53 redis-3.0.0]# ./src/redis-cli -p 7002
127.0.0.1:7002> asking
OK
127.0.0.1:7002> get a
"3"

[2015-05-25 12:11] Gladmir commented on #134
Jersey has a mechanism, well simply put, SPI via ServiceLoader. Any type of encoder/decoder can be developed and plugged in to core framework via generic Mime-Types.

So, at startup or lazily later on, redisson can lookup to its class path for encoding/decoding service providers, load/initialize and be ready to use them.

A simple collection access to redisson would be very easy later on with a sp

[2015-05-26 13:49] agrigoroi opened #165 "RedisConnectionException when using Amazon ElastiCache"
We encountered an issue when using Redisson to connect our application running on Ubuntu to Amazon ElastiCache for Redis.

When performing any operation Redisson throws a `RedisConnectionException`: `Unable to connect xxxx.cache.amazonaws.com/10.xxx.xxx.xxx:6379`. However, after installing the `redis-tools` package (using `apt-get`) the issue goes away and everything works correctly.

Does Redisso

[2015-05-27 18:09] ahmedaswai commented on #138
So how could we check if the server is running ?

[2015-05-28 07:23] Gladmir opened #166 "KryoCodec strange behaviour"
Between client restarts, KyroCodec serialisation randomly fails with exception;

com.esotericsoftware.kryo.KryoException: Encountered unregistered class ID: 46
	at com.esotericsoftware.kryo.util.DefaultClassResolver.readClass(DefaultClassResolver.java:119)
	at com.esotericsoftware.kryo.Kryo.readClass(Kryo.java:666)
	at com.esotericsoftware.kryo.Kryo.readClassAndObject(Kryo.java:777)
	at org.rediss

[2015-05-29 12:05] domkun opened #168 "ClassCastException with StringCodec and RSet iterator"
I've got a problem with iterating over a RSet, the following code throws a ClassCastException when using the StringCodec:

[code]

Stacktrace:

[code]

With a List everything works.

[2015-05-31 22:00] marko-stankovic opened #169 "ConnectionManager call hangs forever if exception is thrown during Command processing"
Bug found that can cause MasterSlaveConnectionManager to hang forever on get() call if exception is thrown anywhere in CommandHandler.

To replicate the bug, you can use RedissonMap with JsonJacksonCodec to put instance of class that doesn't have default constructor. When you try to fetch that object by using RedissonMap.get() call, deserialization of object will fail in MapOutput because of missi

[2015-06-08 15:42] savanpatel opened #171 "Issue in locking on key in concurrency"
In my project, I have a servlet, that call a utility class.
Utility class calls a wrapper class that  I have implemented over redisson lock.
Wrapper class holds RLock object for a thread and provides lock and unlock methods that call RLock's lock and unlock method
But while running a apache ab-test tool for concurrency, Following exception occurs.
Can you tell me if I am missing something over her

[2015-06-08 18:42] mrniko commented on #171
hi!

you should unlock the lock in the same thread it has been locked

[2015-06-09 08:14] #171 closed

[2015-06-09 08:24] mrniko commented on #164
fixed. please try it

[2015-06-09 11:31] savanpatel commented on #171
I am unloking thread from same thread still the same exception happens

[2015-06-09 11:34] Gladmir commented on #171
Would you mind sharing the code snippet where you lock and unlock ?

[2015-06-09 11:42] savanpatel commented on #171
public static BlockageDetails checkKeyBlocked(String key,
                                                  RedisConnection rc)
        throws UnableToGetConnection, UnableToGetCredentials
    {
        BlockageDetails blockageDetails = new BlockageDetails(key, 0L);
        BaseOperations baseOperations = BaseOperations.getInstance(rc);
        String blockKey = getBlockKey(key);

        Locker l

[2015-06-09 11:43] savanpatel commented on #171
public static BlockageDetails checkKeyBlocked(String key,
                                                  RedisConnection rc)
        throws UnableToGetConnection, UnableToGetCredentials
    {
        BlockageDetails blockageDetails = new BlockageDetails(key, 0L);
        BaseOperations baseOperations = BaseOperations.getInstance(rc);
        String blockKey = getBlockKey(key);

        Locker l

[2015-06-09 12:02] Gladmir commented on #171
Since I can't see the related underlying implementation of yours, my wild guess would be; You have a possible race condition with your getBlockKey and/or ThrottlerUtil.getLockKey method accessors.

Are those synchronised ? Are you sure that you are generating/returning correct keys per Servlet (per Servlet Container Thread) request?

You can easily debug it via checking the thread id just before a

[2015-06-09 12:12] savanpatel commented on #171
But when I call this:
Locker lock = baseOperations.lock(ThrottlerUtil.getLockKey(key));
It returns Locker object (Wrapper over RLcok) containing RLock object for key after locking.
So doesn't redisson takes care of these race conditions?

[2015-06-09 12:21] Gladmir commented on #171
So you are calling tryLock after you get the RLock impl. object and you are sure you acquired the lock (within baseOperations.lock (...) call ) ?

Could you share baseOperations.lock call's code?

[2015-06-09 12:23] savanpatel commented on #171
/*
     *  Locks on the given key.
     */
    @Override
    public Locker lock(String key)
    {
       RLock lock = redisson.getLock(key);
       lock.lock(leaseTimeMs, TimeUnit.MILLISECONDS);
       return new Locker(lock);
    }

And redisson is
  private Redisson redisson;

[2015-06-09 12:36] Gladmir commented on #171
Please check the threadId like I mentioned earlier, your lock (String key) method seems clear.

[2015-06-09 12:46] savanpatel commented on #171
I monitored on redisson and every time on new lock request, it over writes the lock value.

"SET" "amplelock" "{\"@class\":\"org.redisson.RedissonLock$LockValue\",\"counter\":1,\"id\":\"2596c222-404c-4827-a33c-728eb8c35378\",\"threadId\":321}" "px" "5000" "nx"
1433853958.412589 [0 176.9.155.232:37491] "SET" "amplelock" "{\"@class\":\"org.redisson.RedissonLock$LockValue\",\"counter\":1,\"id\":\"c07

[2015-06-09 12:53] Gladmir commented on #171
Whats your redisson version? I want check the source code of it.

[2015-06-09 12:59] savanpatel commented on #171
redisson-1.2.1

[2015-06-10 11:03] #169 closed

[2015-06-10 11:04] #164 closed

[2015-06-12 03:40] harborgang opened #172 "Use Redis client to add a set , but in Redisson got a error"
Redis 3.0.1
Redisson 1.2.0

I got a problem.

Firstly , in redis client , I put a set named "hello", the set numbers are "hello1"  and "hello2"
Second,in Redisson , I get this set .

		RSet  hello = redisson.getSet("hello");
		Iterator it = hello.iterator();
		System.out.println(it.next());
		System.out.println(it.next());

WARN 11:36:59 warn(Slf4JLogger.java:151) - An exceptionCaught() event was

[2015-06-12 05:40] #172 closed

[2015-06-12 06:54] Gladmir commented on #171
Tried with 100 threads, 5 ms waits between lock/unlock calls per thread and couldn't generated your case.

First of all, please upgrade your redisson version to latest 1.2.1 and check your redis monitor log for the SETNX command instead of SET command. Also make sure to use at least Redis 3.0.1, just be sure.

Your monitor output should be like;

1434091509.343215 [0 127.0.0.1:50802] "SETNX" "some

[2015-06-12 07:02] Gladmir commented on #171
Very simply race generator

[code]

[2015-06-12 07:27] Gladmir commented on #168
Does below code (iterating with for-each instead of java 8 forEach) also throws ClassCastException ?

[code]

[2015-06-12 08:49] mrniko commented on #168
Fixed. Please check

[2015-06-12 08:59] mrniko commented on #166
Now you may declare classes list as argument in KryoCodec constructor. Please check is it enough for you

[2015-06-12 09:02] savanpatel commented on #171
Updated to latest Redisson version and the problem is solved now. Thanks a lot for your support. :)

[2015-06-12 09:06] mrniko commented on #171
@savanpatel  nice!
@Gladmir thanks for you help with support!

[2015-06-12 10:42] Gladmir commented on #168
@mrniko Fixed with 1.2.2-SNAPSHOT

[2015-06-12 10:43] Gladmir commented on #166
@mrniko Thanks, random class loading issue is no more problem with this enhancement.

[2015-06-12 10:43] #166 closed

[2015-06-12 10:45] Gladmir commented on #161
@rmalchow : Could you provide the stack trace maybe?

[2015-06-12 10:50] #168 closed

[2015-06-12 10:53] Gladmir commented on #171
@savanpatel @mrniko :)

[2015-06-12 11:04] domkun commented on #168
Works. Thank you.

[2015-06-12 11:50] Gladmir commented on #157
When available/mappable memory runs out, Redis simply blocks the write requests for every each client/connection, since its event/request loop is single threaded.

Depending on the default configured timeouts, you should get read or write io timeout exception from the underlying socket implementation (Netty in this case).

[2015-06-13 08:27] mrniko commented on #152
use 1.2.1 :) readme fixed

[2015-06-13 08:27] #152 closed

[2015-06-18 19:14] ahmedaswai opened #173 "Unix Sockets"
Do you have a plan to develop  the client to be able to use  unix sockets instead of tcp.

[2015-06-19 07:27] mrniko commented on #173
but unix sockets useful only then using loopback interface, isn't it?

[2015-06-19 07:30] hepin1989 commented on #173
he means that the redis and the redisson on the same server right?

[2015-06-19 07:42] mrniko commented on #173
in netty unix sockets implemented via epoll transport https://github.com/netty/netty/pull/3344
So i need to add epoll transport support.

[2015-06-19 09:31] savanpatel opened #174 "Redisson and leap second"
Hello,
I am using redis and redisson for my service deployed on Amazon server. Server has older kernel version that suffers from leap second bug. Will it affect redis or redisson lock in any manner? If so what is the possible solution to it?

[2015-06-20 08:45] mrniko commented on #174
What you mean? it it a bug in linux kernel?

[2015-06-22 06:52] savanpatel commented on #174
Yes.

[2015-06-22 12:11] mrniko commented on #174
Can't say anything about this problem. Sorry

[2015-06-22 13:12] mrniko commented on #173
Done!

[2015-06-22 13:41] zsjoska opened #175 "Reddison tries to connect to a slave which is down"
Redisson library version: 1.2.1

Hi,

We are using SentinelServersConfig and during the tests we observed that if a slave is down, and sentinel properly reports this by putting the s_down flag, Redisson still considers it at initialization and during the operation tries to connect to it.
This affects badly the performance, since RoundRobin tries periodically send though that slave.
WARN  o.r.c.Rou

[2015-06-22 14:02] mrniko commented on #175
could you write a full redis slave state string in this case?

[2015-06-22 14:03] mrniko commented on #175
at SentinelConnectionManager:72 could you print a map object state?

[2015-06-22 14:59] zsjoska commented on #175
Hi,

this is the value returned by get(connection.slaves(cfg.getMasterName())) at line 72

[{
	role-reported=slave,
	info-refresh=8386,
	last-ping-sent=0,
	role-reported-time=366955099,
	ip=192.168.150.161,
	flags=slave,
	slave-repl-offset=1351448313,
	master-port=6379,
	master-host=192.168.150.162,
	slave-priority=100,
	port=6379,
	pending-commands=0,
	name=192.168.150.161: 6379,
	last-ok-ping-re

[2015-06-22 17:24] mrniko commented on #175
fixed.

[2015-06-22 17:24] #175 closed

[2015-06-22 17:25] #174 closed

[2015-06-22 17:30] #173 closed

[2015-06-22 18:26] ahmedaswai commented on #173
Thank you I will test it and I will give my results

[2015-06-22 20:19] zsjoska commented on #175
WOW, that was quick. We will try then the bleeding edge.
Thank you!

[2015-06-26 12:58] AndrewKolpakov commented on #145
see #176

[2015-06-26 15:22] mrniko commented on #145
i am going through your commits in https://github.com/setronica-dev/redisson/tree/rethrow_exception_on_op_failure

[2015-06-29 20:00] radius314 commented on #151
:+1:

[2015-06-30 01:34] radius314 commented on #151
https://github.com/mrniko/redisson/pull/177

[2015-06-30 08:35] mrniko commented on #151
Implemented. Thanks to @radius314

[2015-06-30 08:35] #151 closed

[2015-07-03 10:53] lefay1982 opened #178 "org.redisson.RedissonLock.tryLockInner throw java.lang.NullPointerException"
public class RedissonLock extends RedissonObject implements RLock {
    ...
    private Long tryLockInner() {
        final LockValue currentLock = new LockValue(id, Thread.currentThread().getId());
        currentLock.incCounter();

        return connectionManager.write(getName(), new SyncOperation<LockValue, Long>() {

            @Override
            public Long execute(RedisConnection<Object

[2015-07-03 18:35] mrniko commented on #76
Thanks for your contribution. I have extracted topic pattern feature to separate method `Redisson.getTopicPattern`

[2015-07-03 18:35] #76 closed

[2015-07-03 19:03] #145 closed

[2015-07-04 09:04] #156 closed

[2015-07-05 06:13] mrniko commented on #147
please update your Redis server to 2.8 at least

[2015-07-05 06:13] #147 closed

[2015-07-05 06:14] mrniko commented on #142
Fixed in redisson 1.3.0

[2015-07-05 06:14] #142 closed

[2015-07-06 06:02] mrniko commented on #178
which redis server do you use?

[2015-07-06 06:06] lefay1982 commented on #178
redis 3.0.1

# Server
redis_version:3.0.1
redis_git_sha1:00000000
redis_git_dirty:0
redis_build_id:292a31d0e7b46805
redis_mode:standalone
os:Linux 3.13.0-32-generic x86_64
arch_bits:64
multiplexing_api:epoll
gcc_version:4.8.2
process_id:6517
run_id:412864481288253d6436e2951007589251cab1ed
tcp_port:7001
uptime_in_seconds:326996
uptime_in_days:3
hz:10
lru_clock:10099374

[2015-07-06 06:10] lefay1982 commented on #178
I used SentinelServersConfig
SentinelServersConfig mssConfig = conf.useSentinelConnection();

[2015-07-06 07:43] mrniko commented on #178
please try it with redisson 1.3.0 also

[2015-07-06 12:20] hepin1989 opened #180 "expose async operation to List Queue etc"
It worth to expose the async operation to these data straction eg:
```Future<V> popAsync(timeout)```,```Future<Collection> popAsync(Int maxNumber,timeout)``` etc,maybe add something like AsyncList,AsncQueue?

[2015-07-06 12:27] hepin1989 commented on #180
I found redisson is so exciting?!
so maybe next would be Reactive-Redission?

[2015-07-07 12:52] hepin1989 opened #181 "NPE when call queue.poll"
[code]
java.lang.NullPointerException
	at org.redisson.RedissonBlockingQueue$2.execute(RedissonBlockingQueue.java:74)
	at org.redisson.connection.MasterSlaveConnectionManager.write(MasterSlaveConnectionManager.java:296)
	at org.redisson.connection.MasterSlaveConnectionManager.write(MasterSlaveConnectionManager.java:285)
	at org.redisson.RedissonBlockingQueue.poll(RedissonBlockingQueue.java:71)
	at

[2015-07-08 17:12] mrniko commented on #181
Can't reproduce. Here is a testcase i have used:

[code]

[2015-07-09 05:22] mattcg commented on #181
@mrniko I can replicate this consistently. Try running the following.

[code]

The second call to `poll` will wait ten seconds, then you'll get a `NullPointerException`.

The issue is that `io.netty.util.concurrent.Future#getNow` returns `null` if the future is not done yet, which in this case happens when the queue is drained. That method is called by `com.lambdaworks.redis.RedisAsyncConnection#a

[2015-07-09 06:27] mrniko commented on #181
fixed

[2015-07-09 09:38] ajianzheng opened #182 "How can i specify the redis database in Redisson?"
How can i specify the redis database in Redisson?

Thanks for reading.

[2015-07-09 10:03] mrniko commented on #182
Here is the sample configs used to connect to different redis servers configurations -  https://github.com/mrniko/redisson/wiki/Config-examples

[2015-07-09 10:14] ajianzheng commented on #182
I mean that like the redis-cli command "select N". In jedis, when i init the pool，i can give a parameter to specify the database:
public JedisSentinelPool(String masterName, Set<String> sentinels, GenericObjectPoolConfig poolConfig, int timeout, String password, int database).

thanks!

[2015-07-09 10:53] mrniko commented on #182
use `setDatabase` setting available for each server configuration. Example:
[code]

[2015-07-09 11:23] #182 closed

[2015-07-09 18:43] #181 closed

[2015-07-09 18:51] mattcg commented on #181
Thank you! :sparkles: :sparkles: :sparkles:

[2015-07-09 19:05] #74 closed

[2015-07-09 19:16] mrniko opened #183 "New Redis client"
The idea is go away from lettuce due to some api limitiations and absence of commands pipeline support. Also command handling - encoding/decoding should be implemented with lock free approach.

[2015-07-09 22:11] pluttrell opened #184 "Are the recent Netty related features alerting Netty for other libraries?"
Today attempted to migrate Redisson from version 1.2.1 to 1.3.0 and that caused the 2.1.6 version of the DataStax Java driver to write a WARN + stack trace instead of an INFO to the log.

With `org.redisson:redisson:1.2.1`, I see:

[code]

With `org.redisson:redisson:1.3.0`, I see:

[code]

I also tried version 2.2.0-rc1 of the DataStax Java driver and see the same thing.

I also tried adding a de

[2015-07-09 22:29] tolbertam commented on #184
I posted a [reply](https://groups.google.com/a/lists.datastax.com/forum/#!topic/java-driver-user/QgwtAB7Mhn8) to @pluttrell's question on the java-driver user group.  I think redisson should make netty-transport-native-epoll an optional dependency since an architecture-specific version is required anyways to properly use epoll.  In addition, this would prevent pulling down the jar into a user's pr

[2015-07-10 03:36] pluttrell commented on #184
Adding a dependency on 'io.netty:netty-transport-native-epoll:4.0.29.Final:linux-x86_64' does work to resolve the WARN issue. And I agree with @tolbertam that Redisson should make this dependency optional, just as DataStax does, as that's the core issue.

[2015-07-10 05:33] hepin1989 commented on #181
thanks too:P

[2015-07-10 05:34] hepin1989 commented on #181
and sorry I didn't come up with a producer.:( super busy.thanks again.

[2015-07-10 08:15] hepin1989 opened #185 "can't stop via shutdown"
when call shutdown(),it cause these error again and again and never stop the application.
I single the JVM via Ctrl + D and there is a shutdown() hooked in Play's lifecycle's onShutdown() callback.
[code]
[code]

[2015-07-10 10:25] mrniko commented on #185
Only one type of error you have provided above?

[2015-07-10 11:17] hepin1989 commented on #185
maybe plus these?
this time it complete stop.
I think it worth to add  method
```shutdownGracefully```and change ```shutdown``` to ```shutdownNow```.
[code]
and :
[code]
and：
[code]
but finally it stopped this time

[2015-07-10 13:22] Gladmir commented on #183
Which client impl. will you be using?

[2015-07-10 16:17] mrniko commented on #183
My own. You can take a look in to "org.redisson.client" package

[2015-07-13 18:54] mrniko opened #186 "Extract async interfaces"
Extract async interfaces for all redisson objects. This is necessary for further development of batch operations feature support.

[2015-07-15 10:38] mrniko commented on #183
Could anyone join to testing `2.0` branch?

[2015-07-15 15:01] mrniko commented on #185
please check

[2015-07-15 18:02] mrniko opened #187 "Migrate and Move commands support"
Add `migrate` and `move` commands to `RedissonObject` class

[2015-07-15 18:06] mrniko opened #188 "Flushall support"

[2015-07-16 11:55] #183 closed

[2015-07-17 06:59] mrniko opened #190 "Bloom filter"

[2015-07-17 12:51] #186 closed

[2015-07-17 12:57] mrniko commented on #180
done

[2015-07-17 12:57] #180 closed

[2015-07-17 13:23] hepin1989 commented on #186
Very nice!

[2015-07-17 13:26] mrniko commented on #185
@hepin1989 is it works now?

[2015-07-17 13:34] hepin1989 commented on #185
@mrniko I will upgrade it then and test it.I am not at workspace :P.
thanks,will keep you update later.

[2015-07-17 16:55] mrniko commented on #185
@hepin1989 i'll wait for your reply before integration into 2.0 branch

[2015-07-18 05:00] hepin1989 commented on #185
I have tried the 1.3.1-snapshort via clone it and mvn install,now the application don't respect the
```Ctrl + C/D``` ,and continue running.seems like trapped somewhere.

[2015-07-18 06:55] mrniko commented on #185
could provide a testcase? how to reproduce it?

[2015-07-19 16:06] mrniko commented on #137
will be implemented in #134 issue

[2015-07-19 16:06] #137 closed

[2015-07-20 07:48] mrniko commented on #185
@hepin1989 please check it again

[2015-07-20 07:59] hepin1989 commented on #185
@mrniko OK,waiting a moment.

[2015-07-20 08:11] hepin1989 commented on #185
@mrniko it works now,but I think you would better add some warnning message for that :
after the shutdown is called,dropping the future job,and logging the dropping with warning.WDYT?
thanks, for the great lib,sorry for I don't come up with some contribution.:(

[2015-07-20 08:12] hepin1989 opened #191 "add some java doc about the codec's method"
it would be great to  add some java doc here:
https://github.com/mrniko/redisson/blob/master/src/main/java/org/redisson/codec/RedissonCodec.java

[2015-07-20 08:25] hepin1989 commented on #185
BTW,seems the snapshot version haven't published to maven center,I have to install it locally,could you please check?

[2015-07-20 08:27] mrniko commented on #185
1.3.1 will be published in central repo in few days

[2015-07-20 10:55] aridechettali opened #192 "Compiled "java.util.regex.Pattern" gets corrupted"
Look the below smaple code, the compiled Java Regex looses its flags once you keep your object in Redis.  The below code Prints 2 before put operation, But Prints 0 after put operation to Redisson Map.

import org.redisson.Redisson;
import org.redisson.core.RMap;
import java.util.regex.Pattern;

public class RedisExample
{
    public static void main(String[] args)
    {
        Redisson redisson

[2015-07-20 11:23] mrniko commented on #192
Try to use SerializationCodec. In any case it strange to serialize a whole Pattern object. it's better to implement a once-creation logic in getPattern which creates Pattern from string state.

[2015-07-22 07:29] sougatabh commented on #192
At any case why/how redison can change the object attribute? BTW Compiling pattern from String is time consuming operation, so we are storing the pre compiled pattern itself.

[2015-07-22 07:34] mrniko commented on #192
have you tried an `SerializationCodec` as i wrote above?

[2015-07-22 08:48] #42 closed

[2015-07-22 08:58] #185 closed

[2015-07-22 09:37] ilyalesik opened #193 "Compability with Guava (com.google.common.collect.ImmutableSet)."
I tried to do this:
[code]
The test fails on the line "assertTrue(testSet.contains(newSet));", that is, testSet.contains(newSet) return false, but set1 equals newSet and set1.hashCode() equals newSet.hashCode().
Redisson version is 1.2.1.

[2015-07-22 11:47] #184 closed

[2015-07-22 14:01] #187 closed

[2015-07-22 16:52] #188 closed

[2015-07-22 16:52] mrniko commented on #191
@hepin1989 - 2.0 is ready to test. Could you try it?

[2015-07-22 16:56] mrniko commented on #130
With Redisson 2.0 you could use batches. Example:

[code]

[2015-07-22 16:56] #130 closed

[2015-07-22 16:56] #149 closed

[2015-07-22 16:59] mrniko commented on #153
if connection drops it will be reconnected by ConnectionWatchdog handler

[2015-07-22 17:00] #153 closed

[2015-07-22 17:00] mrniko commented on #146
related to #134

[2015-07-22 17:01] mrniko commented on #132
related to #134

[2015-07-22 18:36] hepin1989 commented on #191
I will get my hands dirty after I finish my current work😩☁😞☁☁☁☁😞☁
☁💧☁☁☁☁💧☁
🌂🌂😞😞😞😞🌂🌂
🌂😞🌂🌂🌂🌂😞🌂
I feel so sad

[2015-07-22 18:45] mrniko commented on #191
@hepin1989 oh! i wish you a much more shiny days

[2015-07-23 10:01] #191 closed

[2015-07-23 11:03] Dreampie opened #194 "how to delete keys like redis del keys in fuzzy matching"

[2015-07-23 12:20] mrniko commented on #194
use `Redisson.getBuckets`

[2015-07-23 12:22] Dreampie commented on #194
Can i use in RMap?

[2015-07-23 12:25] mrniko commented on #194
yes, it should works with RMap too

[2015-07-23 12:28] Dreampie commented on #194
how to use? can you  show any codes?

[2015-07-23 12:34] mrniko commented on #194
Example:

[code]

[2015-07-23 12:42] Dreampie commented on #194
thank you

[2015-07-23 14:06] mrniko commented on #194
@Dreampie  More elegant way with Redisson 2.0:
[code]

[2015-07-23 14:52] #194 closed

[2015-07-24 01:08] Dreampie commented on #194
very nice，what time to release this version？

[2015-07-24 02:23] Dreampie opened #195 "How to set up the expired time of different object in RMap？"

[2015-07-24 06:21] mrniko commented on #195
No, this is not possible. TTL lives on the key, not on the member. But i am planning to implement a RedissonDistributedMap which will contains members as objects so the member expire will be possible.

[2015-07-24 06:22] mrniko commented on #194
during a next few days if all will be good

[2015-07-24 09:20] fadaytak opened #196 "redisson client is connected"
any method to know if redisson client is connected or not? i have a "connection is closed" error and i don"t know when re-use the same client or should create new one...

com.lambdaworks.redis.RedisConnectionClosedException: Connection is closed
	at com.lambdaworks.redis.RedisAsyncConnection.dispatch(RedisAsyncConnection.java:1246)
	at com.lambdaworks.redis.RedisAsyncConnection.eval(RedisAsyncConn

[2015-07-24 11:00] mrniko commented on #196
and redisson is not reconnecting in this case?

[2015-07-24 12:13] mrniko commented on #194
`Redisson.deleteByPattern` and `Redisson.deleteByPatternAsync` were added

[2015-07-24 12:47] fadaytak commented on #196
no not reconnecting, the problem how can i do some mechanism when i put in some map and i get a connection problem.. how can make a reconnecting system to force reconnecting and putting the same message..

cordially

[2015-07-24 13:08] mrniko commented on #196
which redis servers configuration do you use?

[2015-07-24 13:32] fadaytak commented on #196
Config config = new Config();
			config.useSingleServer().setAddress(PropertiesUtil.getProperties().get("REDIS_SERVER")+":"+PropertiesUtil.getProperties().get("REDIS_PORT"));
			config.useSingleServer().setRetryAttempts(3);
			config.useSingleServer().setTimeout(10000);
			config.useSingleServer().setConnectionPoolSize(500);
			config.useSingleServer().setRetryInterval(2000);
			redisson = Redisso

[2015-07-26 06:57] mrniko commented on #196
you can increase `retryAttempts` amount, set it to `Integer.MAX_VALUE`

[2015-07-26 16:40] fadaytak commented on #196
any method to know the connection status?
like redisson.isconnected()?

and when i put in a map and he failed he will retry and put the same value or should i implement a retry system manually??

cordially

[2015-07-26 17:51] mrniko commented on #196
not yet. i'am planning to implement nodes status info method

if retryAmount is not exhausted Redisson will just repeat your command again and again

[2015-07-26 17:54] #132 closed

[2015-07-26 18:26] fadaytak commented on #196
okay so currently no mechanism system needed to be implemented just increase the value of setRetryAttempts to Integer.MAX_VALUE

[2015-07-27 07:42] mrniko commented on #158
LRU support not yet implemented in Redisson. But you may read about Redis lru settings [here](http://redis.io/topics/lru-cache)

Each Redisson object has `expireAt` and `expire` methods.

[2015-07-27 07:42] #158 closed

[2015-07-27 07:42] #161 closed

[2015-07-27 07:43] mrniko commented on #136
fixed

[2015-07-27 07:43] #136 closed

[2015-07-27 07:46] mrniko commented on #157
@wmz7year you may tune LRU eviction mechanism which [Redis supports](http://redis.io/topics/lru-cache).

[2015-07-27 07:46] #157 closed

[2015-07-27 17:54] mrniko commented on #154
Tested with 2.0.0 version. All works correctly

[2015-07-27 17:54] #154 closed

[2015-07-27 19:48] pluttrell opened #197 "NullPointerException When Using Cluster Config"
With release 2.0.0, while using sample cluster setup using the create-cluster script from redis (http://redis.io/topics/cluster-tutorial) and this Redisson sample code:

[code]

I always get the following NPE:

[code]

[2015-07-27 20:36] pluttrell commented on #197
In reviewing the code in `ClusterConnectionManager`, here's the constructor that is getting called:

[code]

The line `this.config = create(cfg);` appears to be required to be called prior to ` addMasterEntry(partition, cfg);` which is in fact called before it, which generates the NPE. Is there some other way to configure a connection to a Redis cluster that avoids this NPE?

[2015-07-27 21:23] pluttrell commented on #197
This same problem also happens with v1.3.1.

[2015-07-27 22:00] mrniko commented on #197
this should helps

[2015-07-27 22:20] pluttrell commented on #197
Ya, I figured that would be the fix. Wondering when this might make it into patch releases on MavenCentral?

[2015-07-28 06:22] mrniko commented on #197
could you test it, before i release it?

[2015-07-28 07:29] #140 closed

[2015-07-28 23:53] pluttrell commented on #197
Hi Nikita,

I have three things for you:

1) Connectivity to Redis Clusters
---------------------------------
Per your request, I pulled the code from /master with the fix for Issue #197 and was then able to connect to my 6 node local cluster running exclusivly on my rMBP.

I should note that I did have to resolve a build error, in that `src/main/java/org/redisson/client/protocol/pubsub/PubSubType

[2015-07-29 01:53] oleg-gr opened #198 "Redisson calls do not time out and very long cache times depending on ttl setting"
Hi, while developing using redisson some problems with timeouts and cache times are experienced.

1) Consider the following scenario:
[code]
2) In ConfigCacheBusinessLogic:
[code]
3) @Cacheable uses a class that extends Spring's Cache:
[code]

[2015-07-29 04:42] pluttrell opened #199 "Concurrency Issues"
Today I tried some tests to experiment with Redisson's performance using a build from `/master` and discovered significant concurrency issues. I'm not sure what the state of this code is, so perhaps these issues are known ones, but wanted to make sure you guys are aware of them.

I have a very simple app that a) Creates a Redisson instance with a connection pool of 50 to masters and 50 to slaves,

[2015-07-29 06:41] mrniko commented on #197
2.1.0 will be released right then i resolve this issue.

[2015-07-29 06:44] mrniko commented on #198
which version do you use?

[2015-07-29 06:47] mrniko commented on #198
what is `TTL setting` and how you manage it?

[2015-07-29 06:50] mrniko commented on #199
oh, could you give me your test?

[2015-07-29 06:53] oleg-gr commented on #198
The version is 1.3.1

By TTL I mean `bucket.set(value, ttl, TimeUnit.SECONDS);`, where ttl is 10 seconds for what I called short, and 3600 seconds for what I called long TTL

[2015-07-29 06:54] mrniko commented on #198
Could you please try this test with 2.0.0 too?

[2015-07-29 07:09] oleg-gr commented on #198
Will try, though it looks like the updates don't concern this directly

[2015-07-29 07:32] oleg-gr commented on #198
So is `com.lambdaworks.redis.RedisException` obsolete now? Trying to use `org.redisson.client.RedisException` but run into
[code]
There are no changelog/migration notes, are there?

[2015-07-29 07:49] mrniko commented on #198
please set logging level for the `org.redisson` to `trace`. Or which command you use?

[2015-07-29 07:50] mrniko opened #200 "RBatch NPE's"

[2015-07-29 11:19] mrniko commented on #198
fixed

[2015-07-30 00:33] oleg-gr commented on #198
Can you snapshot it into 2.1.0-SNAPSHOT so I can test it easily?

[2015-07-30 01:19] oleg-gr commented on #198
What are you deploying the snapshot version to? Can't find it
[code]

[2015-07-30 01:38] hepin1989 commented on #198
you must git clone it and mvn install.
seems he did not publish the snapshot to the maven center:)

[2015-07-30 02:28] oleg-gr commented on #198
@hepin1989 yeah, had to end up doing this, thanks

@mrniko so, I am running the same app with 2.0.1-SNAPSHOT and will let you know if it behaves similarly

[2015-07-30 07:32] oleg-gr commented on #198
@mrniko Ok, I can't tell for sure yet whether the random outbursts of crazy cacheTime occur, but timeouts aren't being fired properly in my opinion. I set up timeout to 20ms and 1 retry with 20ms retry. Even if the measured time goes up to 220+ ms, still no timeouts are being fired

[2015-07-30 08:08] #200 closed

[2015-07-30 08:11] mrniko commented on #198
please provide your redisson config

[2015-07-30 08:16] #197 closed

[2015-07-30 12:49] mrniko commented on #198
i introduced timer wheel step interval, so now it should be more accurate

[2015-07-31 00:34] oleg-gr commented on #198
Haven't tried the newest update yet. Testing the previous one made the cache timeout all the time: the eop one is many queries (150 per sec), short ttl, 100ms timeout, 3 retry attempts, 100 ms retry interval; the second one is not many queries(20 per minurte), long ttl, 20ms timeout, 1 retry, 20 ms retry interval. Not sure what to make out of those results.

![mall](https://cloud.githubusercontent

[2015-07-31 06:31] mrniko opened #201 "add RSet.removeRandom and RSet.removeRandomAsync methods"

[2015-07-31 06:32] #201 closed

[2015-07-31 06:41] mrniko commented on #198
so, the problem is gone?

i could release 2.1.0 in next few days

[2015-07-31 09:16] spaulg opened #202 "Infinispan redis integration"
I'm contributing a redis integration to infinispan and am investigating the use of Redisson to use as the client.

I need an efficient way to retrieve a list of all keys and iterate over them for processing, but because Redis can store millions of records, I wanted to avoid a list/queue of data pulled from the Redis server and held in memory on the client as this could wind up exhausting resources

[2015-07-31 10:08] oleg-gr commented on #198
Unconclusive. Timeouts seem to fire now. But the cache times are hundred
times bigger now than they used to be. Keep the issue open, release 2.1.0
when you have time, and I will test extensively with the new version.
Thanks for the support

2015年7月31日金曜日、Nikita Koksharov<notifications@github.com>さんは書きました:

[2015-07-31 11:00] mrniko commented on #202
There is no cursor for keys iteration. But if you find the way, please tell me

[2015-07-31 11:01] mrniko commented on #198
Have you check your redis connection? i think the problem in invocation delay some there on network level

[2015-07-31 17:02] oleg-gr commented on #198
It might be so, but I checked the redis setup and can't see anything wrong with it. On top of it, it looks like the results are inconsistent throughout using different redisson versions rather than redis. Basically, what I am saying is that the results differ based on redisson setup, not redis setup. Hope it makes sense

[2015-08-02 13:28] mrniko commented on #199
Fix NPE and have lunched your test. Results is:

Memory Status: [Used: 11 MB (0% of max),  Free: 112 MB (6% of max),  Total: 123 MB (6% of max),  Max: 1 794 MB]
    80% complete.           796 of 1 000 attempted.    671 per sec.         0,0 min elapsed.         0,0 min remaining(est).             0 errors.
   100% complete.         1 000 of 1 000 attempted.    767 per sec.         0,0 min elapsed.

[2015-08-03 08:17] mrniko commented on #199
Fixed cluster NPE's and have lunched your test. Here is log of your test:
[code]

[2015-08-03 08:17] #199 closed

[2015-08-03 08:21] spaulg commented on #202
The only way I've seen is that in the Lettuce client. It has a method whereby keys can be streamed; a callback is triggered for each key received.

I haven't tested to see how effective it is. I presume it blocks the connection at a low level until the callback processes items in a fixed sized queue on the client, making more space to resume the connection.

[2015-08-03 08:23] mrniko commented on #202
But it's not atomic way. I mean there is a new keys could be created while you iterate your old keys.

[2015-08-03 08:26] mrniko commented on #198
Then this test results https://github.com/mrniko/redisson/issues/199#issuecomment-127160524 - 7000 ops/sec is not possible to achieve with 100ms delays in operations as you think.

[2015-08-03 12:18] spaulg commented on #202
Though I'm by no means any expert in Netty or Redis, and I'm assuming both clients make the call to Redis using the same command, as I see it, once the command is issued to the server and the server has responded, the 'atomicity' of the command has already passed. How the client handles processing of the response, be it a stream or buffered response to a list, makes no difference if its all transf

[2015-08-03 12:38] mrniko commented on #198
I guess Redisson instance created each call then you may achieve so big delay in call

[2015-08-03 12:48] spaulg commented on #202
Looking at the Redis documentation, I should be using scan, not keys, which is a cursor like implementation that allows batches of keys to be sent from the Redis server for production use.

[2015-08-03 13:18] mrniko commented on #202
scan - nice command, i'll add support of it

[2015-08-03 13:19] mrniko opened #203 "SCAN command support"
add `findKeysByPatternIterator`, `findKeysByPatternIteratorAsync`, `getKeysIterator`, `getKeysIteratorAsync` methods. Move keys operations to `RKeys` object

[2015-08-04 11:32] fadaytak opened #204 "can't deserialize object when JsonTypeInfo.As.PROPERTY was different to @class"
hi,

when i put the "toto" object in the MAP there is no problem but when i do a get operation i get an exception

error when deserialize object, simply because i used jackson for other operation and i forced property to "type"

    @JsonTypeInfo(use=JsonTypeInfo.Id.CLASS, include=JsonTypeInfo.As.PROPERTY, property="type")
    public abstract class toto{
    }

 Exception :

    Caused by: com.fas

[2015-08-04 12:22] mrniko commented on #204
which version do you use? in 1.7.7 you don't need a `@class` property in json anymore

[2015-08-04 12:24] mrniko commented on #204
you need to extends `JsonJacksonCodec` to setup a type property for ObjectMapper

[2015-08-04 13:03] fadaytak commented on #204
in any level ?

can you give me an example ?

cordially

[2015-08-04 13:37] mrniko commented on #204
you should use `typeProperty` setting:

[code]

[2015-08-04 13:45] mrniko opened #205 "Check connections at client startup"

[2015-08-04 17:30] mrniko opened #206 "ReentrantReadWriteLock implementation"

[2015-08-04 17:30] mrniko opened #207 "Semaphore implementation"

[2015-08-04 17:32] mrniko opened #208 "ExecutorService implementation"
Introduce redisson-all.jar to have ability to run it as standalone node.
1. Add isAnonymousClass checking for Runnable param
2. Add ability to inject RedissonClient object into task

[2015-08-04 17:45] mrniko opened #209 "RANDOMKEY support"

[2015-08-05 06:35] mrniko opened #210 "Reactive Streams support"

[2015-08-05 10:44] mrniko commented on #103
Implemented in #203

[2015-08-05 10:44] #103 closed

[2015-08-05 10:45] #203 closed

[2015-08-05 10:45] #209 closed

[2015-08-05 10:55] mrniko commented on #202
SCAN support added

[2015-08-05 10:55] #202 closed

[2015-08-05 13:58] #205 closed

[2015-08-05 14:17] mrniko commented on #196
Create an Node object for each `RedisClient` with `isAlive` method. Sending a PING command to server during `isAlive` invocation and response is guarantee that server is alive.

[2015-08-05 17:12] mrniko opened #211 "Empty slot error"
Add slot checking for MasterSlaveEntry. Fire an error if correspond entry for slot not found.

[2015-08-05 17:14] mrniko commented on #195
1. test key pattern search for keys with string + binary data
2. add key decoder/encoder

[2015-08-05 17:15] hepin1989 opened #212 "extract drainToAsync ?"
this would be nice

[2015-08-05 17:22] mrniko commented on #212
Done

[2015-08-05 17:28] mrniko opened #213 "Scheduler support"

[2015-08-05 17:30] hepin1989 commented on #213
scheduler for what?

[2015-08-05 17:31] mrniko commented on #213
For tasks

[2015-08-05 17:32] hepin1989 commented on #212
wow,Thanks.I will upgrade to 2.1.1 later,you know what?the new async interface with scala's future implicit conversion and akka actor works very fine.thanks very much.

[2015-08-05 17:35] mrniko commented on #212
Oh, knowledge of this it's a ray of sunshine for me. Thanks for using. You could tell me you project name and i'll add it to `Projects using Redisson` section if you want, of course.

[2015-08-05 17:41] hepin1989 commented on #212
@mrniko I want but it was a part of a mobile game server,the project name is "super heros".we are currently using the redis as a message queue and for the player's ranking lists with redisson.

really thanks for you work.I am sure we will find many other intersting part with this project.
:100:

[2015-08-05 17:55] mrniko opened #214 "Examples update"
1. Add links to object interfaces
2. Add low-level Redis client usage example

[2015-08-05 18:43] doggie1989 commented on #135
@mrniko  This feature is very useful,mate.

[2015-08-06 06:13] mrniko commented on #135
I will implement it in `ScoredSortedSet` object which fully implement Redis SortedSet with Z-commands

[2015-08-06 06:14] #212 closed

[2015-08-06 06:54] nareshsankapellyfkrt opened #215 "Redis healthcheck using Redisson PING"
Can you add ping in Redisson which helps in healthcheck?

[2015-08-06 07:03] mrniko commented on #215
will be implemented in #196

[2015-08-06 15:01] mrniko commented on #196
add new `Configuration.pingTimeout` setting

[2015-08-07 05:06] oleg-gr commented on #198
Redisson is injected so it's initialized only once.

Any timeline for the release of this fix to maven central?

[2015-08-07 06:27] mrniko commented on #198
i can't reproduce your problem, because i getting 7000 ops/sec with my perf test and all works fine.

[2015-08-07 06:30] mrniko commented on #198
i have profiled redisson also and didn't found any bottleneck during perf test

[2015-08-07 07:24] mrniko commented on #198
please write a testcase which i could run and show you results

[2015-08-10 00:43] oleg-gr commented on #198
@mrniko I meant the release of 4b88e8ab2b2322986885b0509fbd793f26a0b735 and 6bc5faa44286dfd1c6f916b97963355822a69d5f to maven central? I can't provide you with the test since I can't identify a problem and which part of the system is causing it exactly. Just wait for now, release the fixes you made so far, and I will update you later

[2015-08-10 07:10] mrniko commented on #198
those changes are included in 2.1.0 version which has been already released in to maven repo.

[2015-08-10 08:21] oleg-gr commented on #198
I didn't realize that. Will let you know how it goes. Thank you

[2015-08-11 15:07] mrniko commented on #215
use `redisson.getNodesGroup().pingAll` or use `redisson.getNodesGroup().getNodes().ping`

[2015-08-11 15:07] #215 closed

[2015-08-11 15:07] mrniko commented on #196
use `redisson.getNodesGroup().pingAll` or use `redisson.getNodesGroup().getNodes().ping`

[2015-08-11 15:07] #196 closed

[2015-08-11 15:08] mrniko commented on #138
use `redisson.getNodesGroup().pingAll` or use `redisson.getNodesGroup().getNodes().ping`

[2015-08-11 15:08] #138 closed

[2015-08-11 16:57] #214 closed

[2015-08-11 17:53] scubasau opened #216 "Warnings about serialization exceptions being swallowed (using SerializationCodec with non-Serializable class)"
I wound up pulling my hair out after upgrading from 1.3.1 to 2.1.0 and starting some new projects - the root cause being my attempt to use the SerilizationCodec with objects that were not Serializable. Simplest reproduction:
[code]
Expected: a warning about serialization with a root cause of a java.io.NotSerializableException.
Actual: nothing in the logs, threads just hang around wait()ing on Defa

[2015-08-11 22:55] prarthanb commented on #41
I am facing same issue. One of the sentinels in my config is down and i can not start server as redisson always try to connect the last one in config.

[2015-08-12 06:23] mrniko commented on #41
@prarthanb

and not the server which has down? it's never connects to sentinel which has down?

[2015-08-12 06:54] mrniko commented on #216
Fixed

[2015-08-12 06:54] #216 closed

[2015-08-12 06:57] mrniko commented on #198
@oleg-gr also please try the upcoming 2.1.1 version. Serious bug #216 is fixed there and i think it could affect to your problem.

[2015-08-12 11:05] scubasau commented on #216
:+1: awesome, thanks for the quick turnaround!

[2015-08-12 13:25] o4oxide opened #217 "Is it possible to have RSortedSet as part of batch"
Was wondering if its possible to include RSortedSet as part of batch commands

[2015-08-12 15:14] #211 closed

[2015-08-12 17:12] prarthanb commented on #41
Always connects to last one even if it is down. And never retries other sentinels in the config.

[2015-08-12 17:12] mrniko commented on #41
ok, i'll fix it

[2015-08-12 17:35] jackygurui commented on #41
Having sentinel failing over to slave but redisson refuse to reconnect to new master issue:

I have two nodes: both runs sentinel and redis server on default ports. When I send a DEBUG SEGFAULT to the master I get the following:

On slave node:
10.211.55.23:26379> SUBSCRIBE +switch-master
Reading messages... (press Ctrl-C to quit)
1) "subscribe"
2) "+switch-master"
3) (integer) 1
1) "message"
2) "

[2015-08-13 08:55] mrniko commented on #217
It's not possible to use RSortedSet in RBatch because of redis transaction (`watch`-command) used inside it

[2015-08-13 11:55] damacheng009 opened #219 "How can I do set and get operation in cluster mode"
Thanks in advance :)

[2015-08-13 12:04] mrniko commented on #219
use `Redisson.getBucket`

[2015-08-13 14:48] mrniko commented on #41
@jackygurui I fixed your problem. Please check

[2015-08-13 17:32] jackygurui commented on #41
Hi @mrniko

Thanks for getting back so quick. I have tried the same scenario with the latest master code, upon having sent DEBUG SEGFAULT to the master, I am still getting an error message saying it can't connect to the already dead node. It has not failed over to the new master.

20:06:09,240  WARN org.redisson.connection.RoundRobinLoadBalancer:nextConnection(197) - Can't connect to /10.211.55.24

[2015-08-13 18:01] mrniko commented on #41
could you decrease the timeout and try again? because after timeout i see the master is in the game and requests go forward

[2015-08-14 02:05] #219 closed

[2015-08-14 03:33] damacheng009 opened #220 "Add ability to subscribe for keyevents"
[code]

[2015-08-14 06:48] mrniko commented on #41
@jackygurui please check it again

[2015-08-14 06:54] mrniko opened #221 "Sentinel auto discovery"

[2015-08-14 06:57] mrniko commented on #41
@prarthanb

So the problem appears during redisson start only, right?

[2015-08-14 13:54] #221 closed

[2015-08-14 14:27] mrniko commented on #220
which servers configuration do you use?

[2015-08-14 14:51] mrniko commented on #41
@prarthanb i fixed this case. please check too

[2015-08-14 17:42] prarthanb commented on #41
thanks.

On Fri, Aug 14, 2015 at 7:51 AM, Nikita Koksharov <notifications@github.com>
wrote:

[2015-08-15 00:35] jackygurui commented on #41
@mrniko Thanks. I think it is working now.

[2015-08-15 06:16] #41 closed

[2015-08-16 00:56] ahmedaswai commented on #173
Sorry I tried to test it on my linux server and I am getting the next exception , could you help to fix this issue

03:45:01.882 [main] DEBUG i.n.u.internal.NativeLibraryLoader - -Dio.netty.netty.workdir: /tmp (io.netty.tmpdir)
Java HotSpot(TM) Server VM warning: You have loaded library /tmp/libnetty-transport-native-epoll4497405352061061375.so which might have disabled stack guard. The VM will tr

[2015-08-16 06:20] mrniko commented on #173
which transport-epoll lib you have plugged in thisone `io.netty:netty-transport-native-epoll:4.0.29.Final:linux-x86_64`?

[2015-08-16 15:38] ahmedaswai commented on #173
I am using netty 4.0.30 all final

[2015-08-17 06:20] mrniko commented on #173
take a look at similar issue: https://github.com/mrniko/redisson/issues/184, @pluttrell wrote: `io.netty:netty-transport-native-epoll:4.0.29.Final` not helped, but `io.netty:netty-transport-native-epoll:4.0.29.Final:linux-x86_64` does. Have you tried netty-transport-native-epoll lib with `linux-x86_64` suffix?

[2015-08-18 14:53] mgreenstein opened #222 "Cluster mode "Too many open files" (java.net.SocketException)"
Cluster mode Redisson client running out of files (sockets) in communicating with Redis.

This occurs even when the Redisson client is not receiving any requests.  It must be a problem with cluster mode connectivity.

To reproduce, I simply made two calls to my server using Redisson to set a simple value on Redis and then retrieve a simple value.  Then we did nothing at all.

It appears the Rediss

[2015-08-19 07:43] mrniko commented on #222
fixed. Please check

[2015-08-19 14:20] mgreenstein commented on #222
I just tested this fix.  It seems to be working.  Thank you very much!

[2015-08-19 14:21] mrniko commented on #222
You're welcome!

[2015-08-19 14:21] #222 closed

[2015-08-19 14:26] AmigoV opened #223 "Opening new connections in org.redisson.CommandExecutorService#async"
Rmap.addAndGetAsync (and any *Async methonds) - as i understand it shouldn't lock the calling thread, and return value (Future) as soon as possible.
But if for any reason connection is not established yet the calling thread will be blocked.
And if redis server is not available at all it will be blocked for very long period of time.

Maybe i'm wrong but it doesn't look like async nor lock-free.

[2015-08-19 14:28] mgreenstein commented on #222
Nikita,

Thank you very much for the quick response and fix.  It seems to be working better now.

We are testing cases when the Redis cluster changes (nodes are added, removed, have problems, etc.)  I think I mentioned this before and you responded to use the CLUSTER_NODES command.  I wasn't able to figure out how to use it through Redisson.

My co-worker, Julie, said to say, "Spacibo."

--Michael

[2015-08-19 15:54] mrniko commented on #223
You are right. Connection should be established in async too. But as i wrote the underlying Redis client used by Redisson is fully async and lock-free not the Redisson whole

[2015-08-19 15:58] mrniko commented on #223
But if you check RBatch it's fully implemented with async-nature

[2015-08-19 16:03] mrniko commented on #222
You don't need to use CLUSTER_NODES command Redisson will do it for you :)

[2015-08-19 16:08] AmigoV commented on #223
thx, it seems RBatch suits me very well

[2015-08-19 16:22] AmigoV commented on #223
No, it doesn't :)

Yes, RBatch allows me to queue updates without blocking.
But as soon as i try to execute them (RBatch#executeAsync) the same situation will happens again: the calling thread will be blocked till connection is established or till it fails to connect.

[2015-08-19 19:29] tburch opened #224 "Expirable RCountDownLatch"
Is there a reason that `RCountDownLatch` doesn't implement `RExpirable`? I'd like to be able to create a CountDownLatch that goes to 0 or is deleted if `countDown` isn't called the desired number of times before a timeout.

[2015-08-20 02:22] damacheng009 commented on #220
I make sure servers configuration is right because Jedis can work in this situation ：（

[2015-08-20 07:14] mrniko commented on #220
i'll take a look at this issue after end of my vacation

[2015-08-20 19:25] tburch opened #225 "RObject#delete returns false object doesn't exist"
It seems that in the following test, `RObject#delete()` will always return false, even though it appears the delete call should be synchronous.
[code]

[2015-08-20 20:47] tburch commented on #225
So I think this may only happen in the case where `RCountDownLatch#trySetCount` has not been invoked on the latch. The following test succeeds:
[code]

[2015-08-21 00:31] oleg-gr commented on #198
Just tried 2.1.1 and ran into this:
[code]
and then eventually it runs out of heap space. Some bizarre stuff. I am sure the password is set correctly (previous versions, i.e. 1.3.1 don't have this issue), and I am sure Redis is set up fine as other projects use that Redis cluster just fine. Any ideas?

[2015-08-21 06:33] mrniko commented on #198
so you use cluster config with password?

[2015-08-21 06:50] oleg-gr commented on #198
Using sentinel connection with one master and one slave with auto-discovery and a password. Fairly sure it's not a password issue, since the same app using Redisson 1.3.1 doesn't run into this problem...

[2015-08-21 07:49] mrniko commented on #198
please switch `org.redisson` package logging level to trace and send me the logs

[2015-08-25 06:21] oleg-gr commented on #198
Hi, thanks for the reply. I will  provide you with the trace output soon. In the meantime I discovered another issue. Could you confirm it on your side? Basically, I noticed that client names don't work for `useSentinelConnection()` and tried using different types of configs. I tried "useSentinelConnection().setClientName("foo")", as well as `useSingleServer().setClientName("foo2")` and directly c

[2015-08-25 15:33] turbospaces opened #229 "RLock.tryLock() thows Exception"
**org.redisson.client.RedisException: ERR Error running script (call to f_2d027cdc209d32fe7dade9ba284110f88d497180): @user_script:1: WRONGTYPE Operation against a key holding the wrong kind of value . channel: [id: 0x24baaaa8, /192.168.99.1:64875 => /192.168.99.100:6379]**

ENV: redis 3.0.3/2.8.3
REDISSON: 2.1.1/1.3.1

[2015-08-25 15:56] jackygurui opened #230 "Major Issue: iterators that uses SCAN/SSCAN/HSCAN command not using the same node"
Since the fact that keys/Sets/Hashes in redis does not guarantee the order of the elements within, iterators should stick to the same node when iteration was first started, to avoid duplicate and/or missing items.

For example, when you have a Set "A" in master node contains:
1) "1"
2) "2"
3) "3"
4) "4"
5) "5"
6) "6"
7) "7"
8) "8"
9) "9"
10) "10"
11) "11"
12) "12"
...

a slave node could have it i

[2015-08-31 06:35] mrniko commented on #230
But the set ordering is not guaranteed, you should use list object in that case

[2015-08-31 06:36] mrniko commented on #229
Could you provide a test case? because redisson own lock tests are always pass

[2015-09-01 09:06] jackygurui commented on #230
Hi,

It is perfectly understood the set ordering is not guaranteed, whoever what it does guarantee are items in a set are unique and during an iteration each item in the set is executed once and once only. 

Due to the characteristics of the way redis slaves replicates a set from their master. The only way to ensure iteration guarantee is to execute it with only one node.

PS: I really admire the

[2015-09-01 13:26] mrniko commented on #230
@jackygurui now i catched your idea! will fix it

[2015-09-01 17:13] mrniko commented on #225
please check `RedissonCountDownLatchTest.testDelete` and `RedissonCountDownLatchTest.testDeleteFailed` those tests are always pass

[2015-09-02 07:49] oleg-gr commented on #198
Having trouble reproducing the NOAUTH right now, but I also keep running into another issue:

It starts up fine:
[code]
And it continues like that. I used DEBUG here since TRACE is only used once or twice in your code and returns the whole result which outputs too many logs and I don't think really necessary in this case.

It continues like that until the first TTL is reached (entry expires):

[co

[2015-09-02 09:07] mrniko commented on #198
Sorry but i didn't catch you. That causes the java.lang.OutOfMemoryError: Java heap space ? two command timeouts by 60 secs. leads to out of space? could send a me a memory dump?

[2015-09-02 09:27] oleg-gr commented on #198
That's not what I meant. I mean that second TTL looks weird since it does two SETEX operations and opens a new connection. After that when the next TTL is reached, connections just timeout all the time which leads to out of memory error

[2015-09-02 11:04] mrniko commented on #198
You mean one command execution timeout leads to command repeat not once but TWICE?

[2015-09-02 11:13] mrniko commented on #198
as you can see first command from `[executor-5]` and a new connection from `[pool-3-thread-1]` tomcat thread not redisson thread

[2015-09-02 18:56] o4oxide opened #233 "CommandBatchExecutor executeAsync method freezes"
Hello,

Nice work on the redis client.

I noticed that executeAsync did not complete while running a batch of rediscommands against a cluster.

I noticed that in the line:

[code]

voidPromise may never complete successfully because it is being re-initialized for every slot entry and its successful completion depends on the number of slots being decremented to zero after all the entries run as sho

[2015-09-03 00:35] oleg-gr commented on #198
I don't mean that this necessarily is the problem. Just pointing out the unusual. Since I don't understand why it needs to open one more connection  if another one is already open. And as you can see for some reason after that when redisson tries to perform one more SETEX the connection becomes unreachable. Doesn't really make sense to me...

[2015-09-03 00:36] oleg-gr commented on #198
Btw, just checked and another instance (with a ttl of 60 seconds as opposed to 60 minutes in the example above) is still running and doesn't encounter any problems...

[2015-09-03 00:41] oleg-gr commented on #198
If that matters, I ran both instances on the same Redis setup, just used different set of keys

[2015-09-03 00:51] oleg-gr commented on #198
So this are the connections for the one with the ttl of 60 seconds:
[code]
Notice how there are only two.
Now for the one with the ttl of an hour:
[code]
I stopped it around 15 hours ago, but you still can see there are two setex connections, and both have been idle since they were created?
Any idea?

[2015-09-03 00:59] oleg-gr commented on #198
Also, as I have mentioned, this is all done with Redis's tcp-keepalive set to 0. Setting it to 60, solves the problem (I am assuming because it closes the setex connection after 60 seconds of idling). But this is fixing the symptoms, not the issue, I think

[2015-09-03 04:51] oleg-gr commented on #198
I tried setting TTL to 30 min. The output of trace looks similar to https://github.com/mrniko/redisson/issues/198#issuecomment-137284926 but the error thrown is not
[code]
anymore, but
[code]

[2015-09-03 09:13] oleg-gr commented on #198
Ok. Got you the memory dump.

This occurs after two ttl's occur normally, and it starts choking up when the third one is reached (same as before):
[code]
This is how the connections look like:
[code]
That's what memory looks like after the third ttl and the call pattern that you see above:
![heap space](https://cloud.githubusercontent.com/assets/3584701/9654648/1e9995f8-5267-11e5-8b21-a670ee3a607d

[2015-09-03 09:20] oleg-gr commented on #198
![used heap](https://cloud.githubusercontent.com/assets/3584701/9654850/642f7dde-5268-11e5-9f59-3458efd0b324.PNG)
And this is what trigerring GC did to it:
![gc](https://cloud.githubusercontent.com/assets/3584701/9654857/6c7cae80-5268-11e5-9a03-35558bafc37b.png)

[2015-09-03 10:47] auf1r2 commented on #106
BlockingQueue.peek() also produce race conditions when I have multiply threads to pool and peek items.

2015-09-02 16:10:53.818 ERROR http-bio-8080-exec-10 BaseController Unexpected error occurred!
java.lang.IndexOutOfBoundsException: index: 0 but current size: 0
	at org.redisson.RedissonList.checkIndex(RedissonList.java:293)
	at org.redisson.RedissonList.get(RedissonList.java:282)
	at org.redisso

[2015-09-03 11:26] mrniko commented on #106
@auf1r2 fixed

[2015-09-04 02:55] flym opened #234 "support max or min connectionPoolSize?"
i read redisson code that imply only the max connectionpoolsize is provide. but all other collection framework also support min size (and the not longest not used time).

when the system is not high load, as if cut down the connection that not used offen?
I found that if connection is create,it not close!(when one down the watch dog create a new one asap)

[2015-09-04 06:49] auf1r2 commented on #106
Thank you!

[2015-09-04 07:08] flym opened #235 "watchdog create new channel not attr connection obj"
RedisConnection.updateChannel update the new channel obj。but the channel attr<CONNECTION> NOT on it, so the second time new channel is down, the watchdog channelInactive invoke method attr(RedisConnection.CONNECTION).get() can NPE.

i thinkd it is a bug.

version 2.1.1

[2015-09-04 14:23] mrniko commented on #233
Thanks

[2015-09-04 14:23] #233 closed

[2015-09-04 20:21] liuyin-ocous opened #237 "Subscription connection leak in PubSubConnectionEntry::removeListener"
We have a production system using Redisson to handle notification. However, recently we constantly run into subscription connection exhausted issue. After investigation, I found Redisson doesn't release the subscription connection after the last listener is removed.

Eventually, this issue is caused by the following line. It seems ConcurrentLinedQueue doesn't fully implement equals method to compa

[2015-09-05 09:00] mrniko commented on #237
Fixed

[2015-09-05 09:00] #237 closed

[2015-09-07 05:12] oleg-gr commented on #198
I found the problem. Hope you can solve it.

To recreate the problem, set up redisson with two sentinels nodes (one slave, one master). Redis config should have both `timeout` and `tcp-keepalive` set to 0. For writes, use TTL of at least couple hours.

Spin up the server and do a couple requests so you end up with 2 connection for master (one GET and one SETEX), and 1 connection for slave (GET).

[2015-09-07 07:15] mrniko commented on #198
@oleg-gr yeah, it's my bug! just fixed it

[2015-09-07 08:32] oleg-gr commented on #198
Thank you for fixing this. It looks fine now except: https://github.com/mrniko/redisson/commit/043b2c2e099095ed42a5e907294c4f029f63ac20#commitcomment-13091622

I will run more tests and let you know if it is all good now and then I will close the issue,

[2015-09-07 13:37] mrniko commented on #198
@oleg-gr async is wrong solution because we didn't handle the command errors in this case. That's why `onReconnectListener` invokes before `updateChannel` method. And this solution should helps

[2015-09-07 19:54] ezs opened #239 "Leak issues"
When using redisson, I'm occasionally getting errors like this: "LEAK: you are creating too many HashedWheelTimer instances".What are possible causes of this issue?

I'm also seeing (probably related) errors like this: "LEAK: HashedWheelTimer.release() was not called before it's garbage-collected." I assume this is related to my problem, but I don't know where to look in my code for this leak. Cou

[2015-09-07 22:02] mrniko commented on #239
Each Redisson instance has one HashedWheelTimer. How many Redisson instances do you have simultaneously?

[2015-09-08 01:54] oleg-gr commented on #198
Doesn't work:
[code]
And it's just going to do this forever. See how it tries to reconnect at the same port?

[2015-09-08 06:58] mrniko commented on #198
yeah, i finally reproduced the problem. Now it's fixed

[2015-09-08 07:33] oleg-gr commented on #198
Thank you. Testing now

[2015-09-09 01:24] oleg-gr commented on #198
So I did some testing and everything is going fine
[code]
until TTL occurs and this happens:
[code]
and it's repeated roughly 70-80 times, when it finally goes
[code]
and it stabilizes until the next TTL when it's repeated again. It's repeated every hour (TTL is set to 3600 seconds)

Connections leak majorly:
[code]

To reproduce:
same as before, but you will have to actually wait for an hour or s

[2015-09-09 04:45] nareshsankapellyfkrt opened #240 "Read split feature in Sentinel mode"
Hi,

I have a setup with a master, 3 slaves and 3 sentinel nodes. I do not have too much data and cluster setup is not required. I should be able to support high throughput(400K Ops/sec). Most of them are read operations. Is there any way to split read requests among master and slaves?

If there is no way to do this, can this feature be added?

Thanks
Naresh

[2015-09-09 07:09] mrniko commented on #198
Does redis close the inactive connection after one hour?

[2015-09-09 07:52] oleg-gr commented on #198
No. I think since TCP KA (keep alive) are not being sent by Redis (since the tcp-keepalive config option is set to 0), I think it's being closed somewhere in between without a TCP FIN. So it both hangs in Redis, and doesn't fire channelInactive in Redisson. I still think the problem is in reconnection logic. Though I can't find it. Can you recreate the issue (if you tried)?

[2015-09-09 08:02] oleg-gr commented on #198
So as I said both timeout and tcp-keepalive are set to 0. However, redisson reconnects every time it tries to do an operation on a connection that has been idle for a long time as you can see from the log above. I understand that this might be a bug and what not, but the problem is that redisson cannot reconnect properly. See how it tries to reconnect 80 times before being able to do so. I am tryi

[2015-09-09 09:06] mrniko commented on #198
why you have turned off tcp-keepalive?

[2015-09-09 09:09] mrniko commented on #198
Few remarks from http://rossipedia.com/blog/2014/01/redis-i-like-you-but-youre-crazy/ this article:

`The combination of both timeout and tcp-keepalive means that:`

    Idle client connections are never killed.
    The server can't differentiate between an idle client and a dead one.

I think you definitely have to use tcp-keepalive.

[2015-09-09 14:06] jackygurui commented on #240
I think it is already doing so. SentinelConnectionManager by default is configured with RoundRobinLoadBalancer which rotates around the node group for each read ops.

[2015-09-09 14:22] mrniko commented on #240
@nareshsankapellyfkrt all read operations will be executed on slave nodes if you mean that.

[2015-09-10 00:32] oleg-gr commented on #198
Yeah, I know, but I just want to make sure redisson is fail proof. Redisson should be able to reconnect even with tcp-keepalive and timeout both set to 0. Especially, considering that these values are the default ones

[2015-09-10 06:02] nareshsankapellyfkrt commented on #240
Thanks. I did not know that. I'm not able to scale my application beyond 80K ops/second with 2 slaves. I will investigate further and come up with the exact numbers.

[2015-09-10 06:46] mrniko commented on #240
@nareshsankapellyfkrt will wait for it

[2015-09-10 06:52] mrniko commented on #198
It seems like `closeConnectionAfterFails` setting should be added. Such setting contain a consecutive fails number and when it has been reached connection will be closed. Does it help in your case?

[2015-09-10 07:11] oleg-gr commented on #198
Is it a redisson congif option? Or redis? Can't see it on either of them

[2015-09-10 12:28] scubasau opened #241 "Elasticache and failover; Redisson configuration question"
We're using Redisson 2.1.1 on our production web cluster for session persistence: https://github.com/chexagon/redis-session-manager

Our redis implemention is AWS's ElastiCache where we have 2 nodes in a replication group. Elasticache provides 3 endpoints for this scenario:
* `foobar.elasticache.com` - always points to the primary (read/write) node of the cluster
* `foobar-001.elasticache.com` - d

[2015-09-10 13:12] turbospaces opened #242 "reconnection functionality doesn't work with AUTH enabled on redis"
If I enable security on redis, re-connection functionality no longer works - wihout security redisson works as expected and re-connects.

Steps to reproduce: enable redis security, run code below and restart redis somewhere in the middle.

[code]

Exception
[code]

[2015-09-10 15:00] mrniko commented on #242
already fixed in current master branch

[2015-09-10 15:01] #242 closed

[2015-09-10 15:02] mrniko commented on #198
`retryAttempts` is a settings that means how many times Redisson should try to send a command before throw an error

[2015-09-10 15:09] mrniko commented on #241
You are right, `SingleServerConfig` is not intended to use in master/slave server mode. In redis there are two modes - `Sentinel` and `Cluster` in which nodes auto-discovery is possible. Please use one of them.

[2015-09-10 16:05] scubasau commented on #241
Unfortunately I'm not terribly familiar with the internal workings of ElastiCache but I don't believe it supports either `Cluster` or `Sentinel`:
[code]

Relevent portions from `INFO` if this helps shed any light on the internal workings:
[code]

I will write some quick tests to see what is happening when I failover a slave and if `MasterSlaveServersConfig` will handle it or if I need something el

[2015-09-11 00:39] oleg-gr commented on #198
Ok, then I do think `closeConnectionAfterFails` should be added

[2015-09-11 16:35] mrniko commented on #198
@oleg-gr done

[2015-09-11 18:58] scubasau commented on #241
https://github.com/mrniko/redisson/pull/244 adds an alternative to the DNS polling introduced in https://github.com/mrniko/redisson/pull/243

[2015-09-12 16:29] mrniko commented on #135
done

[2015-09-12 16:29] #135 closed

[2015-09-13 16:38] mrniko commented on #224
Then CountDownLatch reaches the 0 it publish a `zeroCountMessage` via pub\sub. During expiration same message should be published too. There is no way in Redis to schedule a publish operation.

[2015-09-13 16:38] #225 closed

[2015-09-13 16:39] #217 closed

[2015-09-13 16:40] #192 closed

[2015-09-13 16:40] #178 closed

[2015-09-13 16:41] mrniko commented on #165
ElastiCache support added in https://github.com/mrniko/redisson/pull/244

[2015-09-13 16:41] #165 closed

[2015-09-13 16:42] #204 closed

[2015-09-14 08:52] oleg-gr commented on #198
Hm, for some reason it stopped connecting to slave at all after this fix

[2015-09-14 10:33] mrniko commented on #198
which value you have set for `closeConnectionAfterFailAttempts` setting?

[2015-09-14 11:09] oleg-gr commented on #198
Set it to 3

On Mon, Sep 14, 2015 at 7:33 PM, Nikita Koksharov <notifications@github.com>
wrote:

[2015-09-14 12:03] mrniko commented on #198
so it didn't connect since test start or later when closeConnectionAfterFailAttempts has reached?

[2015-09-14 12:16] oleg-gr commented on #198
It didn't connect from the start. Before it used to connect from the first
attempt.

On Mon, Sep 14, 2015 at 9:03 PM, Nikita Koksharov <notifications@github.com>
wrote:

[2015-09-14 12:37] mrniko commented on #198
maybe the problem is in redis server have you tried to connect it with redis-cli tool?

[2015-09-14 13:04] #162 closed

[2015-09-14 13:11] mrniko commented on #134
@Gladmir "application/json", "binary/kyro" is a media type used in http server. I think it's improperly to use it in context of Redis client. Codec instance usage as parameter is obvious here.

[2015-09-14 18:16] #241 closed

[2015-09-14 18:21] #143 closed

[2015-09-14 18:27] scubasau commented on #241
Thanks for the quick merges!

[2015-09-15 00:27] oleg-gr commented on #198
Nvm, it was a problem on my side

[2015-09-15 05:22] oleg-gr commented on #198
Ok, so now it seems like it just creates a new connection each time it tries to do a SETEX (every hour or so) without trying to reconnect it as it should:
[code]

[2015-09-15 05:25] oleg-gr commented on #198
On top of that it creates an extra cmd=client connection:
[code]
I changed id's for simplicity.
So id=1 and id=2 are created when you start the app. id=2 is used ones to SETEX with TTL of 3600. Then when the key expires, redisson creates two new connections: id=3 and id=4
Any idea?

[2015-09-15 06:48] oleg-gr commented on #198
I just confirmed, it creates a client connection for each new setex connection (the ones that it recreates instead of trying to reconnect)

[2015-09-15 06:59] mrniko commented on #198
The reason of this behavior is that `RedisConnection` closes when wrapped `Channel` it reaches `closeConnectionAfterFailAttempts` limit. I think it would be better to reconnect the `Channel` object. I will fix this

[2015-09-15 15:10] mrniko commented on #146
getMap(name, codec) method added

[2015-09-15 15:10] #146 closed

[2015-09-15 15:10] mrniko commented on #134
done

[2015-09-15 15:10] #134 closed

[2015-09-15 15:13] mrniko commented on #198
@oleg-gr done

[2015-09-15 19:25] mrniko opened #245 "Fst and snappy codecs"

[2015-09-15 20:32] jackygurui opened #246 "Feature Request: Redisson backed ObjectCodec (Object-Hash Mapping)"
Now, the ability to specify a different codec per object feature is added
mrniko/redisson@d484c1959859a97559e4e8d784fd5dfdcf9aeb11, this has paved the way to implement a new type of object codec that serialise each field of POJO object into a redis hash.

Thinking it as a persistent layer for persisting an object to redis like the EntityManager does. Using reflection/javasisst to proxy the accesso

[2015-09-15 20:35] jackygurui commented on #246
I think this request is fairly reasonable since there are a increasingly number of projects are/wanting to use redis as the main data store.

[2015-09-16 02:22] oleg-gr commented on #198
It still opens extra connection. It strange that it cannot just reconnect it, even if it was closed before.

[code]

[2015-09-16 02:24] oleg-gr commented on #198
Ok, I think it's expected behaviout with timeout and tcp-keepalive both set to 0. I will test how it deals with reconnecting if connections are manually killed and stuff. Could you just please confirm from my previous comments if you know why there was a memory leak and whether it is definitely fixed.

[2015-09-16 05:13] oleg-gr commented on #198
Also, not sure why but there is a big CPU jump when trying to reconnect channel that hasn't been used for a while: from 0.5% to 30% usage

[2015-09-16 06:25] mrniko commented on #198
Connection not returns to connection pool if `closeAsync` method was invoked.

[2015-09-16 07:04] mrniko commented on #198
I don't have any bug about memory leak except this one. And I can't to reproduce.

[2015-09-16 07:05] mrniko commented on #198
Do you see the code where CPU stuck in your profiler?

[2015-09-16 07:10] mrniko commented on #246
I didn't get you. Could you provide an example of how this feature should looks in code from your vision of task? Or you need a Redis-based ORM with own EntityManager you may use a [Kundera](https://github.com/impetus-opensource/Kundera) in this case it supports Redis.

[2015-09-16 07:21] mrniko commented on #239
Starting from https://github.com/mrniko/redisson/issues/134 you don't need to use multiple Redisson instances for each codec.

[2015-09-16 07:21] #239 closed

[2015-09-16 11:17] Master-chan opened #247 "Add serialization codec for java Number"
By default any Number class descendants is serialized as ["java.lang.Long",1843] for example.

[2015-09-16 11:28] mrniko commented on #247
`LongCodec` already implemented

[2015-09-16 11:50] Master-chan commented on #247
Sorry for not clearly explaining, I mean set this codec as default for any java primitive wrapper objects.

[2015-09-16 12:04] mrniko commented on #247
then, for example, there is no way to distinguish `Integer` and `Long`.

[2015-09-16 12:06] mrniko opened #248 "Resubscribe to topics when RedisPubSubConnection has been reconnected"

[2015-09-16 12:09] Master-chan commented on #247
Well, I clearly don't understand how codecs work now. Btw I'm only using String and Long objects in my project so can I safely set codec to StringCodec.INSTANCE or LongCodec.INSTANCE in my Redisson config?

[2015-09-16 12:28] mrniko commented on #247
if you use `RMap` there key stored as Long type and value as String. You need to extend `getMapKeyDecoder` and `getMapKeyEncoder` methods of `StringCodec` in this case.

[2015-09-16 12:41] Master-chan commented on #247
Is there any way to register more than one Codec for Redisson instance?
For example in Gson I can do
[code]

Sorry for inconvenience but I can't find any guides\examples for this.

[2015-09-16 12:45] mrniko commented on #247
You can use objects with different codecs. This feature implemented in `master` branch.
For example like this `getMap("map", StringCodec.INSTANCE)`

[2015-09-16 12:49] Master-chan commented on #247
Big thanks for the answers.

[2015-09-16 15:02] #248 closed

[2015-09-16 16:15] smigfu commented on #220
I currently have the same problem and I think the problems are the registered codecs: I have tried with the default (Jackson) as well as the SerializationCodec. In the first case you get a com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'set': was expecting ('true', 'false' or 'null') and in the later a java.io.StreamCorruptedException: invalid stream header: 7569645F.

The serve

[2015-09-16 17:41] mrniko commented on #220
with a new api you can do it much easier: `redisson.getTopic("__keyevent@0__:expired", StringCodec.INSTANCE)`

[2015-09-16 18:03] mrniko commented on #246
And what about inner object, say collection?

[2015-09-16 23:42] jackygurui commented on #246
Right, let me explain what I mean with a bit more detail with some code sample, but firstly please accept my apology for the vague request.

Lets be honest, when we write a POJO class, usually we use it to organise a collection of relevant information together. Although fundamentally, you could replace the POJO class with a hash map, it is less intuitive than the POJO method.

More times than not,

[2015-09-17 12:05] smigfu commented on #220
That sounds like a good solution for the problem. Thanks :)

[2015-09-18 05:48] oleg-gr commented on #198
I think there is no memory leak. I think it was there before because of the bad reconnection logic, but I cannot trace back to where it was fixed exactly.

[2015-09-18 06:48] mrniko commented on #198
Is it appears in 2.1.3 version?

[2015-09-18 07:01] oleg-gr commented on #198
Not the memory leak, I don't think so

[2015-09-18 15:02] mrniko opened #249 "Ringbuffer structure"

[2015-09-18 20:46] jackygurui commented on #246
Have been thinking about this again, this feels like Aerospike's Records and Bins in someway but less like the Kundera. I hope my explanation has cleared all the confusions you had.

[2015-09-21 18:25] mrniko commented on #246
Yeah, it's a great idea. You have a bright head! :) Thanks for your full explanation. With such feature we don't need to lock a whole object to change only one field, for example.

[2015-09-21 18:26] #247 closed

[2015-09-21 18:32] mgreenstein opened #250 "Redis master change is not detected properly."
Redisson does not seem to be detecting Redis master change in failover scenario.  (We are using Redisson 2.1.3).

I have 2 questions regarding this.

1. After the 60-second timeout (described below) everything started working again, although not in the original configuration.  Can this timeout be changed (lowered) and done so safely?

2. Should Redisson should be able to detect and react to this l

[2015-09-22 08:20] baigd opened #251 "Report possible race issues"
Hi, Developers of mrniko/redisson,

I am writing to report two race issues on use of ConcurrentHashMap. The issues are reported by our tool in an automatic way. Although manually confirmed, they would be false positives, given we do not know the specification of the program. We would very appreciate if you could check below for details and confirm with us whether they are real problems. For more i

[2015-09-22 10:00] jackygurui commented on #246
You're right, with this feature in the library, for us the developer, it would be like having a shared/clustered heap space between VMs. It would reduce the complexity of creating micro services by a lot.

[2015-09-22 16:58] turbospaces commented on #229
really i can't understand how it's possible, but here is an example

[code]

I tried to change 'rest-example' to other words, but then it works. I don't know what is so special in this word, any ideas?

[2015-09-22 18:15] mrniko commented on #251
Hi! I have a look at those lines but didn't find nothing extraordinary there. Sync sections are used to avoid parallel execution of `subscribe` and `unsubscribe` commands. RedissonLock and RedissonCountDownLatch have concurrent tests also and they always pass it.

As for lock-free implementation of entry's resources counter managed by `release`/`aquire` methods it's done a little bit ugly with whi

[2015-09-23 13:09] mgreenstein commented on #250
Thanks for the timeout explanation.  What about detecting and reacting to the change in master? (It is a separate issue from the timeout.)  Thanks again.

[2015-09-24 08:27] mrniko commented on #250
Let me clarify the test case:

1. run 3 master instances and 3 slave instances in one cluster
2. kill one master and related slave node
3. restart master and slave nodes from step 2
4. run "redis-cli cluster failover" for master and slave nodes from step 2

Am i right?

[2015-09-28 17:43] #251 closed

[2015-09-29 16:47] mgreenstein commented on #222
I believe this is correct.  I am going to forward a picture in a separate email.

Thank you very much.

________________________________
From: Nikita Koksharov <notifications@github.com>
Sent: Thursday, September 24, 2015 4:27 AM
To: mrniko/redisson
Cc: Michael Greenstein
Subject: Re: [redisson] Redis master change is not detected properly. (#250)

Let me clarify the test case:

  1.  run 3 master

[2015-09-29 16:49] mgreenstein commented on #250
[cid:image003.png@01D0FA96.A4E0D1E0]

________________________________
From: Nikita Koksharov <notifications@github.com>
Sent: Thursday, September 24, 2015 4:27 AM
To: mrniko/redisson
Cc: Michael Greenstein
Subject: Re: [redisson] Redis master change is not detected properly. (#250)

Let me clarify the test case:

  1.  run 3 master instances and 3 slave instances in one cluster
  2.  kill one mas

[2015-09-29 17:03] mgreenstein commented on #250
I believe this is correct.

![capture](https://cloud.githubusercontent.com/assets/10212091/10171913/68138516-66aa-11e5-8115-ef90d4abbb8b.PNG)

[2015-09-29 17:50] mrniko commented on #250
Why did you closed it?

[2015-09-29 19:09] mgreenstein commented on #250
I didn't mean to.  I did it by mistake.  Sorry about that.

________________________________
From: Nikita Koksharov <notifications@github.com>
Sent: Tuesday, September 29, 2015 1:50 PM
To: mrniko/redisson
Cc: Michael Greenstein
Subject: Re: [redisson] Redis master change is not detected properly. (#250)

Why did you closed it?

-
Reply to this email directly or view it on GitHub<https://github.com

[2015-09-29 19:11] mgreenstein commented on #250
Closed by mistake.

[2015-09-30 10:02] loulaner opened #252 "ReplayingDecoder.callDecode() thows NP Exception"
ENV: redis 3.0.4
REDISSON: 2.1.3

io.netty.handler.codec.DecoderException: java.lang.NullPointerException
	at io.netty.handler.codec.ReplayingDecoder.callDecode(ReplayingDecoder.java:425)
	at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:230)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:308)
	at io.netty

[2015-09-30 10:20] #252 closed

[2015-09-30 15:37] etki opened #253 "NPE during load testing"
Hi.
I'm relatively new to java, so sorry if i say something stupid.
When i'm storming my server with 50 concurrent requests using AB, i'm getting NPE during some channel negotiating (as i guess). The following line (CommandDecoder:267):

[code]

results in null pointer exception:

[code]

I'm not 100% sure where does this problem originate from, but i can tell that those requests use Redisson for

[2015-10-02 00:30] oleg-gr commented on #198
Ok, haven't experienced problems in a while. Thank you for bug fixes

[2015-10-02 00:30] #198 closed

[2015-10-02 09:21] oternovoi opened #254 "EOFException when I use RLock with SerializationCodec"
I configure Redisson to use SerializationCodec instead of default JsonJacksonCodec. Then I run my code in environment with concurrent threads and use Lock object to sync thread. After that I get exception and unlock only after expiration in 30 sec. Previous major version of Redisson does't contain this issues. Similar problem I have when I use CountDown.

[code]

[2015-10-02 16:51] ebaysteve opened #256 "unknown command EVAL when call"
I am getting an exception when trying to add an ArrayList<Integer> to a redisson RMap  on a Linux Server. I cam using Redis 3.0.4.  Below is an example of the code I am using

                Config config = new Config();
		config.useSingleServer().setAddress("127.0.0.1:6379");

		redisson = Redisson.create(config);
                RMap<String, ArrayList<Integer>> cache = redisson.getMap("data-cac

[2015-10-02 18:00] mrniko commented on #254
fixed

[2015-10-02 18:00] #254 closed

[2015-10-06 17:58] mgreenstein commented on #250
We did more testing in a slightly different way and still see this issue.  Also wanted to make sure we were running Redisson 2.1.3.  Here is a stack trace from yourkit if it will help.  (Looks something like the last issue we reported.)  Thanks.

 http-bio-7001-exec-8 [WAITING] [DAEMON]
java.lang.Object.wait() Object.java:503
io.netty.util.concurrent.DefaultPromise.awaitUninterruptibly() DefaultPr

[2015-10-09 03:56] mnouh commented on #253
I'm getting the same issue. See below code snippet, accessing the client with 10+ threads:
[code]

[code]

[2015-10-09 07:26] mrniko commented on #253
please bring to me your test code

[2015-10-09 09:37] etki commented on #253
@mrniko i can't expose my project sources, but i'll try to make a minimal sample on this weekend

[2015-10-10 10:00] mrniko commented on #223
done

[2015-10-10 10:00] #223 closed

[2015-10-10 10:06] mrniko commented on #250
Could you check please, does "CLUSTER NODES" command returns the same config as it was at redisson init after redis nodes rebalance?

[2015-10-10 10:09] mrniko commented on #256
i tested it with 3.0.4 and it works. All tests are passed!

[2015-10-12 16:00] tepsl opened #258 "Codec key and value decoders are opposite"
When implementing my own custom code, I've found that it seems Codec key and value decoders are opposite.
[code]
This works.

[code]
This does not work.

[2015-10-13 12:16] mgreenstein commented on #250
We did use "CLUSTER NODES" initially and after rebalancing.

Question: Does the order of nodes matter when making this call initially?

config.useClusterServers().addNodeAddress()

We call this method 3 times, one for each node.  We randomize the order of the nodes prior to the call.  This randomization shouldn't matter, should it?

[2015-10-14 12:29] feci opened #259 "NPE in pub/sub"
[WARNING 14.10.2015 12:14:58.968] io.netty.channel.DefaultChannelPipeline-An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.handler.codec.DecoderException: java.lang.NullPointerException
        at io.netty.handler.codec.ReplayingDecoder.callDecode(ReplayingDecoder.java:425)

[2015-10-14 13:22] mrniko commented on #259
Which version did you use?

[2015-10-15 16:39] dugshnay commented on #253
We also were seeing this in production when we went to 2.1.3 last week. It had the effect of hanging the threads and we reverted to 1.3.1 a couple days ago. I can provide a small test project. This will *sometimes*, but not every time, reproduce this NPE issue (you can see it in the logs). What it will do every time is walk its way into a deadlock on subscribe/unsubscribe. I run two tests. One wit

[2015-10-15 17:11] mrniko commented on #253
you can send me it by email: abracham.mitchell@gmail.com

[2015-10-15 17:56] dugshnay commented on #253
Thank you. I've sent it. I wanted to also clarify that I do not know if the NPE and the deadlock issue I mentioned are related or two separate issues.

[2015-10-16 05:55] nareshsankapellyfkrt commented on #240
I forgot to update this thread. I have been able to successfully scale up to 250K QPS. Closing this issue.

[2015-10-16 05:55] #240 closed

[2015-10-16 06:02] nareshsankapelly opened #260 "Mocking Redisson"
Is there any library for mocking Redisson? I have a scenario where I do not want to have Redis server running for unit tests.

There is a library for Jedis. https://github.com/50onRed/mock-jedis.

[2015-10-18 11:18] mrniko commented on #240
Could you please specify you configuration? Hardware configuration, number of slave/master servers, cluster topology. And Redis servers mode you used?

[2015-10-19 05:56] oleg-gr opened #262 "AddSentinelAddress(...) non-running instance ClosedChannelException"
Hi,

I have noticed something running some load tests recently.

I have a 3 sentinels, 1 slave and 1 master set up.

Initially I was running load tests on this exact set up and would occasionally run into `org.redisson.client.RedisConnectionException: Slave connection pool gets exhausted!` which is fine since when the load is reduced the app goes back to normal.

Then I had to switch off one of th

[2015-10-19 06:56] oleg-gr commented on #262
Also reproduced the same with passing 4 sentinels to `addSentinelAddress(...)`. Works fine when all sentinels are up; throws the exceptions when one of the 4 is down before the program starts.

[2015-10-19 06:57] mrniko commented on #262
lib version?

[2015-10-19 06:59] oleg-gr commented on #262
2.1.3

[2015-10-19 07:27] oleg-gr commented on #262
Looks like my judgement was wrong. It occurs even with all sentinel addresses present.

Now the errors are triggered by
[code]

Then it goes

[code]
and
[code]
and just continues to throw those 3 exceptions.

If the load is reduced then only this one is occasionally appears:
[code]

[2015-10-19 07:37] oleg-gr commented on #262
Also, the are indeed no connections with the ports that are in the errors, and one port can appear way more than "refreshConnectionAfterFails" times, so they are not being in any way cleaned up/removed from the pool/etc.

To reproduce try high loads (700QPS +)

[2015-10-19 12:16] mrniko commented on #262
but if you getting `java.nio.channels.ClosedChannelException` then it's definitely a problem with network

[2015-10-19 12:48] oleg-gr commented on #262
Problems with local network?

[2015-10-19 12:55] mrniko commented on #262
i have tested Redisson in cluster mode locally and achive ~7000QPS without ClosedChannelException errors

[2015-10-19 13:05] oleg-gr commented on #262
It's Redis 2.8
Cluster is 3.0+

[2015-10-19 17:23] mrniko commented on #253
@dugshnay Thanks for your work! This test is really helpful. I just reproduced this issue, will work on it

[2015-10-19 17:47] mrniko commented on #253
Redis can send reply twice on SUBSCRIBE/UNSUBSCRIBE commands. So I'm just skipping them.

Fixed. Please check too.

[2015-10-19 17:47] mrniko commented on #259
Fixed in  #253

[2015-10-19 17:47] #259 closed

[2015-10-20 00:19] oleg-gr commented on #262
Also, even if it is indeed a network problem, I think redisson should remove the connection from its pool after several retries (isn't refreshConnectionAfterFails responsible for that?) and not through the error for the same connection forever

[2015-10-20 09:41] deep011 opened #263 "Can i use redisson for the “mget/mset” multi-command?"
I can not find “mget/mset” api in redisson, whether redisson support those multi-command? and for redis cluster mode?

[2015-10-21 23:56] oleg-gr commented on #262
Ping

[2015-10-22 05:09] deep011 opened #264 "A serious mistake for redisson cluster!"
hi, @mrniko

when i execute the "cluster nodes" command, and displays like "7189722a77350361478f826e549e13270499261c 127.0.0.1:6309 master - 0 1445484940172 5 connected 0-299 5761-10922", then the redisson will go wrong:

org.redisson.client.RedisEmptySlotException: No node for slot: 9842
	at org.redisson.connection.MasterSlaveConnectionManager.connectionWriteOp(MasterSlaveConnectionManager.java:4

[2015-10-22 06:47] mrniko commented on #264
As I see there are two ranges for one node. I didn't take into account this

[2015-10-22 06:47] mrniko commented on #262
@oleg-gr I'll check it on this week. Little busy those days

[2015-10-22 06:52] oleg-gr commented on #262
@mrniko ok, thank you very much :+1:

[2015-10-22 11:17] #253 closed

[2015-10-22 12:17] Master-chan opened #265 "RMap.putAll not working."
I have RMap<String, String> and static map with default values which I need to save but RMap.putAll keeps throwing exception:

[code]

[2015-10-22 12:51] etki commented on #253
@mrniko sorry i still don't have time for checking.
Thank you for great support

[2015-10-22 15:04] joshattr commented on #86
Sorry to resurrect an old thread. @pluttrell I'm having troubles with this. Mind sharing your solution? It seems adding the following to my subclass didn't do the trick:
[code]

@mrniko I wonder if there's a way to detect if if there are any jackson plugins and use them? It'd save some configuration/subclassing

[2015-10-22 16:24] joshattr commented on #86
I spoke too soon. There must have been something wrong with my local setup. That code appears to be working now. Sorry to bother you.

[2015-10-22 16:37] mrniko commented on #264
fixed

[2015-10-22 17:12] mrniko commented on #265
fixed

[2015-10-22 17:12] #265 closed

[2015-10-22 17:14] mrniko commented on #250
The sequence of node addition is doesn't matter

[2015-10-22 17:16] mrniko commented on #263
You can use it via `Redisson.createBatch` method. It accumulates all invoked commands in one batch command.

[2015-10-23 01:48] deep011 commented on #264
hello @mrniko , thanks for the quick reply, and did you test it for that you fixed?
It is always wrong!
It only added the last range for the node in the parsePartitions() function!
Please give me the courage to use redisson for redis cluster. I neet it hurriedly!

[2015-10-23 01:50] deep011 commented on #263
yeah, i know! thank you very much!

[2015-10-23 02:13] deep011 commented on #264
Besides, the "cluster nodes" command can be display like the follows:

"7189722a77350361478f826e549e13270499261c 127.0.0.1:6309 master - 0 1445484940172 5 connected 0-299"
"7189722a77350361478f826e549e13270499261c 127.0.0.1:6309 master - 0 1445484940172 5 connected 0-299 5761-10922"
"7189722a77350361478f826e549e13270499261c 127.0.0.1:6309 master - 0 1445484940172 5 connected 0-299 5761 10000-10922

[2015-10-23 02:34] dotrungduchd opened #266 "Handle Redis Cluster memory"
Hi @mrniko,

I want to know what Redisson can do with Redis Cluster:
-check Redis Cluster memory
-handle exception when Redis Cluster exceed memory
Thanks & regard

[2015-10-23 04:23] deep011 commented on #264
code possible be like flollows

In the parsePartitions() function:
            String id = clusterNodeInfo.getNodeId();
            if (clusterNodeInfo.getFlags().contains(Flag.SLAVE)) {
                id = clusterNodeInfo.getSlaveOf();
            }
            ClusterPartition partition = partitions.get(id);
            if (partition == null) {
                partition = new ClusterPartition()

[2015-10-23 07:04] mrniko commented on #264
Sorry i don't have such cluster config. So i didn't test it correctly. Could you give me redis configs for this case?

[2015-10-23 07:04] #263 closed

[2015-10-23 07:45] deep011 commented on #264
You can use "redis-trib.rb reshard --slots" command.

[2015-10-23 07:48] deep011 commented on #264
And i find redisson do not deal "ASK" error, so when i migrate the slots redisson maybe go wrong.

[2015-10-23 11:46] mrniko commented on #264
Do you migrate slots with "redis-trib.rb reshard --slots" command?

[2015-10-23 16:45] deep011 commented on #264
yes, i use the command.

[2015-10-24 18:05] mrniko commented on #264
@deep011 could you please check it again?

[2015-10-24 18:07] mrniko commented on #250
@mgreenstein could you check it again with master branch? I have made some improvements applied to master change problem in #264 issue

[2015-10-24 18:55] mrniko commented on #264
@deep011 ASK handling in progress

[2015-10-25 11:50] mrniko opened #267 "LZ4 codec support"

[2015-10-26 17:43] mgreenstein commented on #250
We retested using the master branch (2.1.4-SNAPSHOT) today.  It appears to work properly.  Thank you very much.

[2015-10-26 17:44] mrniko commented on #250
Good news! Thanks for your patience!

[2015-10-26 17:44] #250 closed

[2015-10-26 17:50] mrniko opened #268 "Implement realtime cluster nodes scan list"

[2015-10-26 18:43] mrniko opened #269 "CROSSLOT handling"

[2015-10-28 21:57] mrniko opened #270 "BitSet implementation"

[2015-10-30 14:28] mrniko commented on #264
Done

[2015-10-30 14:28] #264 closed

[2015-10-30 14:30] mrniko opened #271 "Cluster slave servers info update"

[2015-10-30 18:17] #268 closed

[2015-10-31 09:55] #271 closed

[2015-10-31 10:41] mrniko opened #272 "Add readFromSlaves config param for cluster mode"

[2015-11-02 19:52] emosemanaol commented on #262
I am seeing the same thing, I'm using version 2.1.3, and have an application that uses about 190 connections to redis, concurrently.  The timeout exception is thrown, and then I get a lot the following:

[code]

I'm currently trying with the following settings:

[code]
Are there any additional tuning parameters for netty that can be tweaked that might make a difference?

[2015-11-02 20:40] joshattr commented on #86
Ok. I got it working. I think I had some stray spring configuration that was causing my `Redisson` instance to be re-created when it shouldn'tve been. Sorry for all the confusion (it's really fixed now!).

[2015-11-02 23:02] #224 closed

[2015-11-03 16:05] emosemanaol commented on #262
Any ideas?

My redis servers are in a sentinel configuration, with requirepass set.  I'm seeing a lot of references to the org.redisson.connection.ConnectionEntry.prepareConnection call in stack traces.  Could the sentinel configuration and/or auth being set cause deadlocks?

I'm also seeing this exception:
[code]

It appears that I've got a deadlock somewhere... I've got a lot of threads all maki

[2015-11-03 17:38] #272 closed

[2015-11-03 17:49] mrniko commented on #262
Sorry for so long silence. Tomorrow i'm gonna work on this issue

[2015-11-03 18:10] mrniko opened #273 "Handling MOVED response"
Command with MOVED response could be redirected to Master or Slave node.

[2015-11-03 19:47] emosemanaol commented on #262
I've found the problem for my application, I won't try to hijack this issue though, I'll create a new one.

[2015-11-04 10:49] mrniko opened #274 "Async reconnection to channel"

[2015-11-04 10:50] #274 closed

[2015-11-04 12:14] mrniko commented on #262
@oleg-gr here is my benchmark results for 3 sentinels (one is down during test start). 1 master + 2 slaves.

Queued all 2 000 000 produce UID requests.

Memory Status: [Used: 105 MB (2% of max),  Free: 140 MB (3% of max),  Total: 245 MB (6% of max),  Max: 3 614 MB]
     1% complete.        10 429 of 2 000 000 attempted.  2 399 per sec.         0,1 min elapsed.        13,9 min remaining(est).

[2015-11-04 12:15] mrniko commented on #262
@oleg-gr
~20000QPS

[2015-11-04 13:04] mrniko commented on #262
@oleg-gr Anyway i will add handling for this errors with channels. Slave server should be frozen for a while after few attempts. `refreshConnectionAfterFails` closes existent connection and creates a new one.

[2015-11-04 13:27] mrniko commented on #262
Also i could add PING command for each new discovered slave to check the connection with it.

[2015-11-04 14:27] oleg-gr commented on #262
Thank you. Let me test it in the next couple days and I will let you know

On Wed, Nov 4, 2015 at 10:27 PM, Nikita Koksharov <notifications@github.com>
wrote:

[2015-11-04 16:33] mrniko commented on #262
@oleg-gr I think i found the way to fix this issue. I think to implement it before the this week end. Please wait

[2015-11-05 07:45] mrniko opened #275 "check Android compatibility"

[2015-11-05 15:32] emosemanaol commented on #262
@mrniko Thanks for the heads-up on https://github.com/mrniko/redisson/issues/274.  I see the deadlock occurring when I'm using BlockingQueue#poll(long,TimeUnit).  To work around the issue I'm using BlokcingQueue#poll() and a Thread.sleep.  The issue is still happening, but much less frequently.  I'm going to try the 2.14-SNAPSHOT and see if that resolves the issues.

[2015-11-05 17:32] mrniko commented on #262
@emosemanaol ok, waiting for your response

[2015-11-06 12:06] sslavic commented on #195
I'm interested in RedissonDistributedMap with TTL, or a RLock implementation where custom value, a lease token, can be associated with a lock, to enable releasing a lock by another thread, thread which has lease token; forceUnlock should still be possible, so without lease token; similarly lock TTL should still work.

[2015-11-07 10:04] mrniko commented on #262
@oleg-gr done! I have added new config params `slaveFailedAttempts` and `slaveReconnectionTimeout`. These params manages by reconnection logic for slave node in case of connection failure. It should helps to resolve your issue.

[2015-11-07 15:44] lake4790k opened #276 "receiving multiplied PubSub messages"
Little modification to the testHeavyLoad reveals the problem I encountered when having a single listener processing many messages sent at the same time (in latest version):

    volatile long counter;

    @Test
    public void testHeavyLoad() throws InterruptedException {
        final CountDownLatch messageRecieved = new CountDownLatch(1000);

        Redisson redisson1 = BaseTest.createInstance

[2015-11-07 20:04] mrniko commented on #276
it seems like it's a bug in CommandDecoder. I'm working on fix

[2015-11-09 08:34] mrniko commented on #276
Fixed

[2015-11-09 08:34] #276 closed

[2015-11-09 08:54] mrniko commented on #262
@oleg-gr Please be aware, I intend to deprecate `closeConnectionAfterFailAttempts` config setting.

[2015-11-09 13:43] lucas1000001 opened #277 "RedissonSet iterator in Sentinel mode doesn't seem to be sticking to one slave for the lifetime of the iterator"
Hi,

I have a Redis setup with 3 nodes (master, slave, slave) and 3 sentinels (one per node). When I try to iterate over a set within Redis, I'm getting some odd results that are breaking the Redis SCAN guarantees - that is, I'm losing some entries.

I'm pretty sure this is because the iterator isn't sticking to a single slave during its lifetime, and rather that it's using the default RoundRobinL

[2015-11-09 16:37] lucas1000001 commented on #277
Looked into this a bit more, and I think the solution is within the CommandExecutorService#async function.

In the case when we have no client being passed in (and therefore determined by connectionManager.connectionReadOp) I think the client needs to be pulled from the connectionFuture and passed into the Redis client - which would allow the iterator to cache the connection and stick to a server

[2015-11-09 17:45] lake4790k commented on #276
Looks good now, thanks for the superfast fix!

[2015-11-09 18:00] mrniko commented on #277
Hi!

It's strange to see this issue again, because i resolved it in https://github.com/mrniko/redisson/issues/230. But i'll check it soon.

Could you turn on `org.redisson` logging level to `TRACE` value and provide response from Redis server to me?

[2015-11-10 08:43] oleg-gr commented on #262
Ok, understood

On Monday, 9 November 2015, Nikita Koksharov <notifications@github.com>
wrote:

[2015-11-10 09:33] mrniko commented on #277
fixed

[2015-11-10 09:35] #277 closed

[2015-11-10 10:07] lucas1000001 commented on #277
Thanks for the quick fix :) much appreciated!

As far as the boot logging you were interested in, here's a comparison between 2.1.3:
[code]

and 2.1.4-SNAPSHOT

[code]

and you can see, this line is missing from 2.1.4:

[code]

for reference, here's a tcpdump of the SENTINEL SLAVES request:

[code]

as I understand it the SLAVE response for ip xxx.yyy.zzz.67 is arriving in a separate packet before

[2015-11-10 14:46] emosemanaol commented on #262
I've tested the 2.1.4-SNAPSHOT from the 14262bd25ea1739d2a7f3788c8fd67f38ec92182 update and I'm not seeing the issue anymore.

[2015-11-10 16:29] mrniko commented on #262
@emosemanaol nice news!

[2015-11-11 04:38] startan opened #278 "Why RedissonLock.tryLockInner not call 'setnx' command?"

[2015-11-11 08:53] mrniko commented on #278
RedissonLock uses LUA-script to set lock value. Any LUA-script executes atomically in Redis

[2015-11-11 09:05] mrniko commented on #277
@lucas1000001

fixed

[2015-11-11 13:20] damacheng009 opened #279 "I want a codec for msgpack"
HELP ME PLEASE..Thanks in advanced：）

[2015-11-11 17:12] randyhoude72 opened #280 "RList add at index inserts data in different format causing an exception on read"
Hi,

I have code running against redisson 2.1.3 that was adding a value at an index and after the add is called the list can no longer read, throwing this exception:

	org.redisson.client.RedisException: Unexpected exception while processing command
		at org.redisson.CommandExecutorService.get(CommandExecutorService.java:185)
		at org.redisson.RedissonObject.get(RedissonObject.java:48)
		at org.re

[2015-11-11 17:34] mrniko commented on #280
it has a wrong json-format. You should implement your own codec to handle it correctly.

[2015-11-11 17:39] randyhoude72 commented on #280
Yes, I see that. I am not putting the JSON formatting on any of the other strings either though.  Why is the add with index treating the data differently than the add?

[2015-11-11 17:46] mrniko commented on #280
No, you did it. "\"foo\"" - this a correct json-string

[2015-11-11 17:48] #273 closed

[2015-11-11 17:50] randyhoude72 commented on #280
foo is not being set as a JSON string:

       RList<String> test2 = redisson.getList("test2");
        test2.add("foo");
        test2.add(0, "bar");

[2015-11-11 17:51] mrniko commented on #262
@oleg-gr

I'm ready to release 2.1.4 version, just waiting for your confirmation about this issue status. Is it works now?

[2015-11-11 17:53] mrniko commented on #280
It encoded to "\"foo\"" by json encoder when Redisson put it in Redis

[2015-11-11 17:54] randyhoude72 commented on #280
So the add(index, object)  method does not go through the same encoder when Redisson puts it in Redis?

[2015-11-11 17:57] mrniko commented on #280
I confirm, it's a bug

[2015-11-11 18:03] mrniko commented on #280
fixed

[2015-11-11 18:35] #280 closed

[2015-11-11 18:39] randyhoude72 commented on #280
Thank you!

[2015-11-11 19:35] #79 closed

[2015-11-11 22:41] oleg-gr commented on #262
Sorry, was preoccupied by other stuff. Let me try it today-tomorrow and I
will let you know. Thank you

On Thursday, 12 November 2015, Nikita Koksharov <notifications@github.com>
wrote:

[2015-11-12 01:52] oleg-gr commented on #262
Are you deprecating `refreshConnectionAfterFails` config setting? Or is it the one you mean by `closeConnectionAfterFailAttempts`?

[2015-11-12 02:08] oleg-gr commented on #262
Hm, did you change which jetty you are using, or something like that? I get
[code]

[2015-11-12 07:13] mrniko commented on #262
@oleg-gr

Yes, this setting is deprecated now.

It's strange why jetty can't find this class. Because `PlatformDependent` class is located in `netty-common` and i didn't remove this lib from dependency list. Anyway i returned two libs removed in previous commit. Try again

[2015-11-12 18:19] mrniko commented on #229
Can't reproduce with 2.1.4

[2015-11-12 18:19] #229 closed

[2015-11-13 05:48] oleg-gr commented on #262
@mrniko still getting the same error
[code]
Not sure why. Investigating now

[2015-11-13 05:54] oleg-gr commented on #262
The issue is with Jetty's version 4.0.33.Final. I changed it back to 4.0.32.Final without changing any other code and now it works.... Not sure what changes in 4.0.33.Final could have introduce this error.

[2015-11-13 07:35] mrniko commented on #262
@oleg-gr It seems like a netty bug. I changed version to previous.

[2015-11-13 09:14] #245 closed

[2015-11-13 09:45] #279 closed

[2015-11-13 10:56] #267 closed

[2015-11-14 08:50] mrniko opened #281 "Add RMap values, keys and entries iterator"

[2015-11-14 10:31] #281 closed

[2015-11-14 16:25] mrniko commented on #258
I do not see a problem. Could you clarify it?

[2015-11-16 05:10] oleg-gr commented on #262
So I got back to testing it. Right off the bat I noticed that for some reason I get no connections on master:
![screen shot 2015-11-16 at 13 54 12](https://cloud.githubusercontent.com/assets/3584701/11174644/8d4a8db2-8c6a-11e5-86f4-e26c956d0ae3.png)
It's strange, since this same set up used to produce more connections on master, than slave...

I configured the app to be hit at around 500QPS, and s

[2015-11-16 06:52] oleg-gr commented on #262
Basically, it looks to me like redisson opens the maximum allowed number of connections (e.g. in the above case, the slave has 7 connections initially (including sentinels, cli, etc.), and then redisson opens 30 more, since slaveConnectionPoolSize is 30). After running for some time in this configuration Redisson tries to open more connections and everything blows up...

[2015-11-16 07:41] mrniko commented on #262
Could you share your test code? it would be helpful for me.

[2015-11-16 08:02] oleg-gr commented on #262
It's literally just Jersey Spring servlet app with the following code for getting from cache
[code]
And redisson is created with `Redisson.create(config)`, where config is created from the values I posted above.

I can't share the exact code since there is a lot of environment to set up to run it locally. How about I will try to recreate the same scenario with a simple app and see if it happens ag

[2015-11-16 08:05] zuanfan opened #285 "RLock.isLocked() get hung when I disable/enable my local network"
I was crashed into a blocking issue when I was doing some configuration on my windows laptop. RLock.isLocked()  got hung forever with callstack as following:

[code]

The issue is repreduceable. Steps to reproduce the issue:

Code:

[code]

My os is windows, and I haven't tested it on linux.
Steps: disable network.  Then enable network. The program will be blocked with the callstack I pasted

[2015-11-16 08:10] mrniko commented on #285
Ok. I'll check it

[2015-11-16 08:17] mrniko opened #286 "LOADING response handling"
Error like "LOADING Redis is loading the dataset in memory" should be handled correctly

[2015-11-16 08:48] mrniko commented on #262
I have master + 2 slave nodes. Then one slave node is down and up few minutes later I see infinity reconnection in slave node logs.

[2015-11-16 11:13] #286 closed

[2015-11-16 11:24] mrniko commented on #262
@oleg-gr
Your use case looks quite simple. I don't ever think that the problem is in your app. Just wanted look at Redisson code usage. I have make few improvements. Please try to run your app again.

[2015-11-16 13:43] mrniko opened #287 "Add connectTimeout param"

[2015-11-16 13:48] mrniko commented on #262
@oleg-gr Additional improvements

[2015-11-16 16:57] mrniko commented on #285
I got timeout error after 60 seconds (could be changed via timeout config param).

org.redisson.client.RedisTimeoutException: Command execution timeout for /127.0.0.1:7002
	at org.redisson.client.RedisConnection.await(RedisConnection.java:104)
	at org.redisson.client.RedisConnection.sync(RedisConnection.java:119)

Redisson version is 2.1.4

[2015-11-16 17:01] mrniko commented on #285
It seems like you used an old version, because code line positions in your stack trace differ from latest Redisson version.

[2015-11-16 17:02] #278 closed

[2015-11-17 00:34] oleg-gr commented on #262
Does this mean you were able to reproduce it?

let me test the app again.

[2015-11-17 01:42] oleg-gr commented on #262
Hm, still the same behaviour:
[code]
My setup is 1 master and 1 slave. I do not get any connections to master for some reason. Only to slave.

When you reproduced the problem were you able to fix it with the improvements you committed?

[2015-11-17 01:46] oleg-gr commented on #262
By the way, using 2.1.3, I get connections to both master and slave with the same config and same set up

[2015-11-17 02:02] oleg-gr commented on #262
Actually, in 2.1.3 after getting timeouts, after that I can still use the app without restart and connections won't time out all the time. In 2.1.5-SNAPSHOT, if I get timeouts, I will get them on every call until I restart the app... I am not sure which change introduced it.

Hm, what do you think?..

[2015-11-17 08:17] mrniko commented on #262
I tried to reproduce slave-down behavior. With 2 sentinels, 1 master and 2 slaves. The connection is always perfect. So I had shutdown slave server but i got infinity reconnection to alive slave server when it has come back. It was a bug and it was fixed.

I use windows 7 for testing. Would you try to replace netty 4.0.32 to 4.0.30 as in 2.1.3 version. Maybe this helps.

[2015-11-17 08:35] mrniko opened #288 "Use PEXPIRE and PEXPIREAT instead of EXPIRE and EXPIREAT"

[2015-11-17 09:22] #270 closed

[2015-11-17 09:38] #287 closed

[2015-11-17 10:57] mrniko opened #289 "KEYSLOT command support"

[2015-11-17 11:03] #289 closed

[2015-11-17 12:52] mrniko commented on #275
Works with Android 2.3.1, and all 4.x.x version line.

[2015-11-17 12:52] #275 closed

[2015-11-18 00:24] oleg-gr commented on #262
@mrniko I see. I get this without putting any of the slaves down. I will try with netty 4.0.30
I use Mac for testing if that matters

[2015-11-18 04:49] oleg-gr commented on #262
@mrniko same problem: no connections to master; timeouts and not being able to recover from them... Basically, currently I observe the best behaviour in 2.1.3:
It starts timing out, and will through timeouts indefinitely until the QPS doesn't drop (I guess it doesn't have enough time to run some internal logic), but after QPS drops and you make calls at lower QPS, there are no timeouts. With 2.1.5

[2015-11-18 05:04] oleg-gr commented on #262
Same applies for 2.1.4, so something changed between 2.1.3 and 2.1.4 that introduced this weird behaviour

[2015-11-18 09:21] damacheng009 opened #290 "Where is ZRANGEBYSCORE command"
I can not find anything in RScoredSortedSet class...

[2015-11-18 11:37] mrniko commented on #290
This command is used in `RedissonScoredSortedSet.valueRange` and `entryRange` command and other variations of such commands.

[2015-11-18 11:40] mrniko opened #291 "handle MASTERDOWN response"
When slave-serve-stale-data is set to 'no' then this error occur:

MASTERDOWN Link with MASTER is down and slave-serve-stale-data is set to 'no'

[2015-11-18 11:55] damacheng009 commented on #290
@Test
    public void testValueRange() {
        RScoredSortedSet<Integer> set = redisson.getScoredSortedSet("simple");
        set.add(0, 1);
        set.add(1, 2);
        set.add(2, 3);
        set.add(3, 4);
        set.add(100, 5);
        set.add(200, 5);

        Collection<Integer> vals = set.valueRange(100, 200);
        MatcherAssert.assertThat(vals, Matchers.contains(5));
    }

It fail

[2015-11-18 11:55] damacheng009 commented on #290
RedissonScoredSortedSet.valueRange and entryRange base on index, not score...

[2015-11-18 12:24] mrniko commented on #290
How about this method `valueRange(double startScore, boolean startScoreInclusive, double endScore, boolean endScoreInclusive)` ?

[2015-11-18 12:26] mrniko commented on #290
please take a look closely, also a new methods was added to this class from this request https://github.com/mrniko/redisson/pull/282

[2015-11-18 12:30] damacheng009 commented on #290
<groupId>org.redisson</groupId>
<artifactId>redisson</artifactId>
<version>2.1.4</version>

I use this version..
I looking forward the new version：）

[2015-11-18 12:31] mrniko commented on #290
those methods are not the part of 2.1.4 version

[2015-11-18 13:04] mrniko commented on #262
You are right, the connection acquiring algorithm has changed in 2.1.4 not it's fully async rather than sync link in previous Redisson versions. I fixed a bug in connectAsync method.

[2015-11-19 04:26] oleg-gr commented on #262
Having the same issues. More side affects now:
1) still no connections to master are being opened; in the beginning, 5 connections were opened, but stayed idle for the rest of the time
2) got a connection leak on slave; sometimes redisson would open new connections, but it seems like the old ones are either not released properly or the slave pool size setting is not being respected

[2015-11-19 12:01] tepsl commented on #258
OK.
The second code is;
* getMap**Key**Decoder() returns **key**Decoder
* getMap**Key**Encoder() returns **key**Encoder
* getMap**Value**Decoder() returns get**Value**Decoder()
* getMap**Value**Encoder() returns get**Value**Encoder()

This should be the correct code, but it does not work.

In contrast, the first code is;
* getMap**Key**Decoder() returns get**Value**Decoder()
* getMap**Key**Encoder

[2015-11-19 14:12] mrniko commented on #258
@tepsl
if you take a look at Codec implementations in Redisson they all matches to the "second code" variant

[2015-11-19 15:29] mrniko commented on #262
I revised the command retry logic, now it should work more accurate with timeout.

[2015-11-19 15:40] tepsl commented on #258
I'll give you an example.
If you run below example code as it is, it fails.
If you edit SimpleSerializationCodec.java near the commented lines as I mentioned above, it works.

A custom Codec class (SimpleSerializationCodec.java):
[code]
An example main groovy script (please save as 'SimpleRedission.groovy')
[code]
build.gradle:
[code]

[2015-11-20 18:30] mrniko opened #292 "BLPOP from multiple queues"

[2015-11-20 21:43] joshattr opened #293 "What does RBatch.execute() return?"
Hello. I have an RBatch variable that I've added some commands to. I noticed if I tax redis a bunch sometimes it has trouble writing a backup file (this might be the fault of my weak vm). At any rate, I'd like to detect this failure mode and tell the user about it if it ever happens.

I'm trying to figure out what RBatch.execute returns. There [aren't any javadocs](https://github.com/mrniko/rediss

[2015-11-21 09:54] mrniko commented on #197
@pluttrell  it's defently fixed now

[2015-11-21 10:35] mrniko commented on #293
Thank you for report! It was a bug. Now errors during batch execution are handing correctly and RedisException will be raised.

[2015-11-21 10:37] mrniko commented on #293
Which Redisson methods do you execute in batch? Each command result type will be equal to type of executed Redisson method.

[2015-11-22 13:45] faquad opened #294 "connection-status handling (question)"
Hi there, is there any hook somewhere for client to handle when connection to server gets dropped/lost ?
thany

[2015-11-23 11:13] mrniko commented on #234
use  `idleConnectionTimeout` param to cut down unused connections

[2015-11-23 11:13] #234 closed

[2015-11-23 11:23] #292 closed

[2015-11-23 12:10] mrniko commented on #290
Did you find it?

[2015-11-23 12:12] mrniko commented on #262
have you checked it?

[2015-11-23 12:16] mrniko opened #295 "Add geo commands"

[2015-11-23 12:23] mrniko opened #296 "Revise return value for some methods"
Return value of follow methods: `RedissonScoredSortedSet.remove`, `RedissonScoredSortedSet.add`, `RedissonMap.fastPutAsync` and so on could be changed from boolean to value returned by Redis.

[2015-11-23 12:52] mrniko commented on #293
I intend to fix it in https://github.com/mrniko/redisson/issues/296

[2015-11-23 13:24] #293 closed

[2015-11-23 13:37] mrniko opened #298 "Rename config params"
Rename `useSentinelConnection` to `useSentinelServers`
Rename `useMasterSlaveConnection` to `useMasterSlaveServers`

[2015-11-23 15:51] joshattr commented on #293
About the booleans... this was my mistake. I'm casting the list. It was a long Friday :smile:. Let me know if you need more info from me for #296.

[2015-11-23 17:05] mrniko opened #299 "Add redis client state listeners"

[2015-11-23 17:05] mrniko commented on #294
No, this is not implemented yet. I have opened an issue https://github.com/mrniko/redisson/issues/299 for this feature.

[2015-11-23 19:05] mrniko commented on #163
@freevest have you resolved it?

[2015-11-23 19:07] #256 closed

[2015-11-24 05:23] oleg-gr commented on #262
@mrniko thank you. This works better. When it times out at high loads, it is possible to recover without restarting the app. But if you keep the load high for a long period of time, than when you stop the high load and try to get from cache again, it still timeout's on each request. Another problem is I still get no connections to master, only to slave. Are you able to reproduce this problem? I ca

[2015-11-24 10:16] mrniko commented on #262
Can't reproduce it. After short amount of time test system returned to normal state without any errors.

At test system startup I always have a master and two slaves with good connection.

Try to reproduce it with my "tester" https://yadi.sk/d/5nYwffqZkgycT. class to lunch is `com.firepod.tools.redisloadr.LoadR`, config definition in `LoadR.getRedisson`

[2015-11-24 14:15] damacheng009 commented on #290
I did，Thanks：）

[2015-11-24 15:00] #290 closed

[2015-11-24 18:32] mrniko commented on #220
Add `RExpirable.addExpireListener` method

[2015-11-24 19:51] mrniko commented on #262
i made small improvement for connectionpool could you please

[2015-11-25 01:06] oleg-gr commented on #262
Ok, now it's possible to recover after high load. Thank you for this fix.

Now the major problem is that I am not getting any connections to master. My set up is one master and one slave. Here is the related config:
[code]
Now, when I start the app I get 2 connections opened on master and 3 on slave. When I start high load testing, I get all 10 connections open on slave, but no new connections on

[2015-11-25 08:58] mrniko commented on #262
fixed

[2015-11-25 08:59] mrniko commented on #262
Could you send me redisson logs (you need to switch logging to 'TRACE' level)?

[2015-11-26 02:02] oleg-gr commented on #262
Getting 2 connections to master and 3 to slave at the start (both masterConnectionMinimumIdleSize and slaveConnectionMinimumIdleSize are set to 2).

So now I started with heavy lot and small time to warm up. At some point Redisson just dies completely (stops outputting logs and all the calls are failing). In this scenario this is what the log looks like. Everything with ## is added by me since the

[2015-11-26 08:45] oleg-gr commented on #262
@mrniko calls to 6379 are only the initial ones (opening first 3 connections), after that all the calls are done to 6380.

Also, what do you mean which redisson object? I initialise one and keep using

[2015-11-26 09:20] mrniko commented on #262
Sorry, I mean object type RMap, RTopic... etc. And that about the message size that is it?

[2015-11-26 10:43] nareshsankapellyfkrt opened #300 "Duplicate values are returned with redisson.getSet"
Hi,

I'm getting duplicate entries with redisson.getSet.

Redis command "SMEMBERS pSet" returns the following.
1) "\"MOBD5G7DDCRHQCHS\""
 2) "\"MOBE4G6GTTD33ZUT\""
 3) "\"MOBEY39PGWFVQHQE\""
 4) "\"9788129135728\""
 5) "\"MOBDP6W6MCUWCFGV\""
 6) "\"MOBDDA5Y6BKX6VHR\""
 7) "\"MOBDA3N2XBF74DSJ\""
 8) "\"MOBE4G2SKSQJSPGJ\""
 9) "\"MOBEBZPYZEVYCYWM\""
10) "\"MOBDGY7DGAAN7SZY\""
11) "\"MOBDCAJJJ55SCWBY

[2015-11-26 11:07] mrniko commented on #300
Hi!

Which Redisson version do you use?

[2015-11-26 11:30] nareshsankapellyfkrt commented on #300
1.3.0

[2015-11-26 13:10] mrniko commented on #300
Can't reproduce it with 2.1.5. Please upgrade to this version.

[2015-11-26 16:59] mrniko commented on #210
@hepin1989 hi! could you review the implementation? may be you have any suggestions?

[2015-11-26 17:01] Kindrat commented on #229
Same here

ENV: redis:3 docker image
REDISSON: 2.1.5

**Redis server response timeout for command: (EVAL) with params: [local v = redis.call('get', KEYS[1]); if (v == false) then   redis.call('set', KEYS[1], cjson.encode({['o'] = ARGV[1], ['c'] = 1}), 'px', ARGV[2]);   return nil; else   local o = cjson.decode(v);   if (o['o'] == ARGV[1]) then     o['c'] = o['c'] + 1; redis.call('set', KEYS[1], cj

[2015-11-26 17:05] mrniko commented on #229
This error occurs when redis command has been sent, but redis response timeout occured. Which timeout (via `setTimeout` method) you have set?

[2015-11-26 17:06] Kindrat commented on #229
[code]

[2015-11-26 17:07] mrniko commented on #229
by default timeout is equals to 1 sec. I think such time amount should be enough for redis response.

[2015-11-26 17:10] Kindrat commented on #229
With increased timeout everything seems fine now. Thanks. Should increase docker limits.

[2015-11-26 17:17] hepin1989 commented on #210
sorry I am not that familiar with rx-java :(.
I was thinking a Reactive-Stream.

[2015-11-26 17:19] mrniko commented on #210
Why Reactive-Stream? i thought rx-java is a standard in this area

[2015-11-26 17:38] hepin1989 commented on #210
Anyway,it would be nice to have:)I am using akka/scala a lot ,maybe that:).

But once you implement RS,then you have RX for free,there is a bridge.

[2015-11-26 17:40] mrniko commented on #210
And not vice versa? is there a RX -> RS bridge?

[2015-11-26 17:43] hepin1989 commented on #210
I think noop,I will use rx-scala for leverage,thanks :)

[2015-11-26 17:44] hepin1989 commented on #210
BTW,Reactive-Stream will be Flow in JDK 9:)

[2015-11-26 17:50] mrniko commented on #210
https://github.com/ReactiveX/RxJavaReactiveStreams - can convert rx to rs as i see.

[2015-11-26 17:55] hepin1989 commented on #210
Then it's bidi way:) nice,thanks for point out.

[2015-11-26 17:57] mrniko commented on #210
Anyway i'll think about Reactive-Stream implementation. Thanks for info!

[2015-11-27 04:20] nareshsankapellyfkrt commented on #300
Sure. I will upgrade and check.

[2015-11-27 12:23] mrniko commented on #210
@hepin1989 I finnaly switched to reactive streams! thanks for advice

[2015-11-27 12:33] mrniko opened #301 "Add redissonlist equals"

[2015-11-27 14:07] mrniko opened #302 "Add RMap.getAllAsync method"

[2015-11-27 16:20] hepin1989 commented on #210
@mrniko WOW,there is a tck so,https://github.com/reactive-streams/reactive-streams-jvm/tree/master/tck.

[2015-11-27 20:46] Kindrat opened #304 "Ping fails if requirePass is set"
Can't ping single node either with ping or pingAll commands - getting `NOAUTH Authentication required`

Piece of code
[code]
Full exception
`DefaultPromise@1409814d(failure(org.redisson.client.RedisException: NOAUTH Authentication required.. channel: [id: 0x3299d81d, /127.0.0.1:35080 => /127.0.0.1:6379] command: CommandData [promise=DefaultPromise@1409814d(incomplete), command=(PING), params=[], c

[2015-11-28 08:15] mrniko opened #305 "Сheck lock existence in forceUnlockAsync method"

[2015-11-28 08:41] mrniko opened #306 "Extract Async interface for RedissonCountDownLatch"

[2015-11-28 16:58] mrniko commented on #304
Fixed. And i suggest you to use `getNodesGroup().pingAll()` method instead.

[2015-11-28 23:11] Kindrat commented on #304
Needed info for each node to include into spring actuator healthcheck, so `pingAll` is not suitable.

[2015-11-29 17:07] mrniko commented on #304
so, does it work now?

[2015-11-29 23:08] Kindrat commented on #304
Fixed. Is there snapshot repository for redisson?

[2015-11-30 08:22] mrniko commented on #304
Redisson 2.1.6 released!

[2015-11-30 08:22] #304 closed

[2015-11-30 15:29] Kindrat opened #307 "Redisson shutdown hangs if redis server was down"
*Env:*
  Server: 3.0.3
  Client: 2.1.6

*Steps to reproduce:*
* Start redis server
* Create redisson bean
* Stop on a breakpoint inside test
* Shutdown redis server
* call redisson.shutdown()

What I see is that ConnectionWatchdog is scheduling tryReconnect indefinitely incrementing attempts and connection is not closing. But if I put break point in ConnectionWatchdog#channelInactive (line 64) and

[2015-11-30 16:49] mrniko commented on #307
which server configuration do you use?

[2015-11-30 17:05] Kindrat commented on #307
https://gist.github.com/Kindrat/e42fb077cd3cfdeaa281

[2015-11-30 17:10] mrniko commented on #307
It seems like you using Redisson in single server mode, am I right?

[2015-11-30 17:11] Kindrat commented on #307
yes

[2015-11-30 17:12] mrniko commented on #307
will check it

[2015-11-30 19:58] joshattr opened #308 "RScript.Mode.READ_ONLY... not read only?"
I have a script that deletes some things. Here's how I'm executing it:

[code]

It's working (deleting things). This is confusing to me. Shouldn't `Mode.READ_ONLY` not allow that? I think what is happening is this is using redis' [`READONLY`](http://redis.io/commands/readonly) command, which _I think_ is okay with letting me change data, as long as I'm not hitting a slave (which I'm not, because I

[2015-11-30 20:00] Kindrat commented on #304
Just a proposal - can't redisson use connection from pool to perform ping? Creating new connection each time may be expensive in some cases.

[2015-11-30 22:31] kag0 opened #309 "SortedMap"
It would be useful to have a SortedMap implementation. For example in the case where entries might be accessed semi-regularly by a field which is not used as the key for the map. With a SortedMap the entry can be binary searched for in O(log(n)), but without you must either linear search in O(n) or maintain a separate map (which can be a pain to keep consistent).

Could this feature be added? or a

[2015-12-01 07:22] mrniko commented on #308
with Mode.READ_ONLY redisson executes script on slave node. with READ_WRITE it uses master server to execute script. Could you provide your redisson settings?

[2015-12-01 07:25] mrniko commented on #309
Take a look at RedissonSortedSet it's all sync because of search of right index to insert implemented by Redisson not by redis. SortedMap, i think, would have same internal approach.

[2015-12-01 13:12] mrniko commented on #210
@hepin1989 I finished with integration! It's based on `reactor-stream` lib from `projectreactor` project. What do you think should i expose `Stream` object instead of `Publisher` interface for each method?

[2015-12-01 13:15] hepin1989 commented on #210
@mrniko I think the Publisher is OK,but if you leverage RX I think you should.
cc @viktorklang,any help?

[2015-12-01 13:54] joshattr commented on #308
Ahh, it's not a bug then. Could use a documentation update though (imo) :smile:. Here's my config (though I don't think it's relevant):
[code]

[2015-12-01 14:50] mrniko commented on #307
Can't reproduce it. ConnectionWatchdog stops attempt to reconnect during shutdown. Redisson exits normally

[2015-12-01 14:54] mrniko commented on #307
Anyway i made shutdown state check in `channelInactive` method. Does it help you?

[2015-12-01 17:49] kevin1294 commented on #206
any ETA on this feature?  This would be incredibly useful.  Thanks!

[2015-12-01 17:58] mrniko commented on #206
@kevin1294 during this month, i hope

[2015-12-01 20:13] viktorklang commented on #210
I guess it depends on whether you want to hide the fact that Reactor is used or not to the end user.
I'd probably expose Publisher but it depends on how you envision it to be used?

[2015-12-01 21:14] kag0 commented on #309
@mrniko makes sense. I suppose you could also build a O(log(n)) SortedMap implementation directly on top of RSortedSet, which might reduce some amount of code duplication since it would basically work the same internally.

[2015-12-02 00:55] kag0 commented on #195
:+1: Being able to expire items in the map would be quite useful.

[2015-12-02 08:18] mrniko commented on #300
have you checked it?

[2015-12-02 10:23] mrniko commented on #210
ok, I'll use Publisher. So, integration is done and you may check it :)

[2015-12-02 14:38] mrniko commented on #193
All Redisson objects don't use `hashCode` or `equals` to execute search via `contains`, `indexOf` etc... Each such method calls Redis command like SIMEMBERS in case of `RSet.contains` which search object by serialized state equality.

I advice you to reconsider your RSet object structure.

[2015-12-02 14:38] #193 closed

[2015-12-02 17:13] #163 closed

[2015-12-02 17:13] #285 closed

[2015-12-03 08:06] #288 closed

[2015-12-03 08:06] #210 closed

[2015-12-03 08:11] #302 closed

[2015-12-03 08:29] #298 closed

[2015-12-03 12:16] #301 closed

[2015-12-03 13:00] #296 closed

[2015-12-03 14:16] #305 closed

[2015-12-03 14:29] mrniko commented on #75
You need RateLimiter which applies to each node. Am I right?

[2015-12-03 14:46] mrniko commented on #206
I think to use follow state structure: {readLockCounter, writeLockCounter, writeOwnerThread}

[2015-12-03 14:47] mrniko commented on #262
@oleg-gr ?

[2015-12-04 00:34] oleg-gr commented on #262
@mrniko Sorry, was preoccupied.

1) The object used is RBucket. I removed message because it's just too much output at 200QPS to output to logs.

2) Previously, redisson used to read from both slave and master, so I was confused why it now reads only from slave. The correct behaviour is to read only from slave, so it's correct as it is now.

3) I tried the 2.2.0 branch and it seemed to work much b

[2015-12-04 08:50] mrniko opened #310 "Add 'pollFirst' and 'pollLast' methods to RScoredSortedSet"

[2015-12-04 09:26] #310 closed

[2015-12-04 10:56] mrniko commented on #262
2.2.0 released today! Grab it while it hot :)

[2015-12-04 12:44] mrniko opened #311 "Precache lua scripts in all Redisson objects"

[2015-12-04 14:48] mrniko commented on #195
I introduced a new `RCache` object it implements map with ttl entries and based on two Redis structures: `zset` and `map`. Any feedback is welcome

[2015-12-04 14:56] mrniko commented on #157
@wmz7year it's done in #195 !

[2015-12-04 14:57] mrniko commented on #8
@silver2k yes, now it's implemented in a new `RCache` object. Try it.

[2015-12-04 22:50] Kindrat commented on #307
Tried to reproduce my issue with simple clean project using some of original logic without that fix, but no luck. But now everything is fine in my original build.

[2015-12-04 22:51] #307 closed

[2015-12-04 23:04] mrniko opened #312 "Map/Reduce implementation"

[2015-12-06 16:42] mrniko opened #313 "Cache convertor instances"

[2015-12-06 17:14] mrniko opened #314 "Add JCache API support"
https://github.com/jsr107/jsr107spec

[2015-12-06 17:38] mrniko opened #315 "Apache Spark integration"

[2015-12-07 02:32] oleg-gr commented on #262
Awesome. Quick suggestion, can you set `void setSentinelServersConfig(SentinelServersConfig sentinelConnectionConfig)` to public in Config.java? I want to be able to just set it directly, since I am reading a json config into a `SentinelServersConfig` instance

[2015-12-07 02:34] oleg-gr commented on #262
Actually, it would be better if you added a method like
[code]

[2015-12-07 06:24] oleg-gr commented on #262
Otherwise, that's what I have to do
[code]

[2015-12-07 13:19] mrniko opened #316 "Add RObject.isExists"

[2015-12-07 13:23] mrniko commented on #195
Done! Hope you enjoy it :)

[2015-12-08 08:04] #195 closed

[2015-12-08 08:13] mrniko commented on #262
@oleg-gr i have just added useSentinelServers with config param.

[2015-12-08 08:30] #316 closed

[2015-12-08 11:22] mrniko opened #317 "Add WAIT command support"

[2015-12-08 15:06] mrniko commented on #206
ReadWriteLock is fully implemented. Currently I'm writing a test for it.

[2015-12-08 15:22] mrniko opened #318 "Add RCacheReactive implementation"

[2015-12-08 18:31] kag0 commented on #195
Awesome, thanks!

[2015-12-09 00:17] oleg-gr commented on #262
@mrniko Sounds great. And thanks for all the bugfixes and putting so much time into open source. Спасибо :-)

[2015-12-09 00:17] #262 closed

[2015-12-09 05:17] crafton commented on #195
Hi, do you have a repo to pull down 2.2.1 with maven? Would like to play with the RCache.

[2015-12-09 11:13] mrniko commented on #206
Done

[2015-12-09 11:13] #206 closed

[2015-12-09 14:03] mrniko commented on #195
RCache was renamed to RMapCache. Because I'm planning to implement RSetCache too.

[2015-12-09 14:03] mrniko commented on #195
@crafton 2.2.1 release is scheduled for this Friday.

[2015-12-09 14:04] #318 closed

[2015-12-09 14:17] mrniko opened #319 "Add RSetCache implementation"

[2015-12-09 18:36] #300 closed

[2015-12-09 18:56] mrniko opened #320 "Add BlockingDeque implementation"

[2015-12-09 22:49] crafton commented on #195
Ok great, thanks!

[2015-12-10 07:35] mrniko commented on #311
Benchmark doesn't show big difference in execution time between `eval` and `evalSha`. `evalSha` sometimes gets slower.

[2015-12-10 14:24] #319 closed

[2015-12-10 14:25] mrniko opened #321 "Add RSetCacheReactive"

[2015-12-11 15:17] mrniko opened #322 "Add TransferQueue implementation"

[2015-12-11 16:41] mrniko commented on #195
New version in maven repo!

[2015-12-12 21:43] thrau opened #323 "RedissonClient `isShutdown` check"
I'm somehow missing a possibility to check whether the current Redisson instance has been shut down already.

Are there some run-state flags that one could check? Would a `isShutdown` method  make sense in the `RedissonClient` interface? Would this be possible with the changes required for #299 ?

[2015-12-13 11:00] mrniko commented on #323
Hi!
I agree with you. It's important to add some methods to check shutdown state. I suggest to add follow methods to `RedissonClient` and `RedissonReactiveClient` interfaces:
1. `isShuttingDown` - returns `true` if Redisson instance is being shutdown or has been shutdown already.
2. `isTerminated` - return `true` if Redisson instance has been shutdown.

[2015-12-13 16:15] #311 closed

[2015-12-14 03:32] flym opened #324 "bug! expire expireAsync use toSeconds with PEXPIRE"
@Override
    public boolean expire(long timeToLive, TimeUnit timeUnit) {
        return commandExecutor.get(expireAsync(timeToLive, timeUnit));
    }

    @Override
    public Future<Boolean> expireAsync(long timeToLive, TimeUnit timeUnit) {
        return commandExecutor.writeAsync(getName(), StringCodec.INSTANCE, RedisCommands.PEXPIRE, getName(), timeUnit.toSeconds(timeToLive));
    }

the code

[2015-12-14 03:32] flym commented on #324
version 2.2.1

[2015-12-14 07:34] mrniko commented on #324
It's terrible mistake. Thanks for reporting!

[2015-12-14 07:34] #324 closed

[2015-12-14 09:20] SaroLain opened #325 "a error in RedissonExpirable 2.2.1"
public Future<Boolean> expireAsync(long timeToLive, TimeUnit timeUnit) {
        return commandExecutor.writeAsync(getName(), StringCodec.INSTANCE, RedisCommands.PEXPIRE, getName(), timeUnit.toSeconds(timeToLive));
    }

PEXPIRE is milliseconds ,not seconds

[2015-12-14 09:39] mrniko commented on #325
already fixed here https://github.com/mrniko/redisson/issues/324

[2015-12-14 09:39] #325 closed

[2015-12-14 10:48] #321 closed

[2015-12-14 11:11] mrniko commented on #323
Done

[2015-12-14 11:11] #323 closed

[2015-12-14 12:39] flashas8 commented on #263
Hi @mrniko. I don't think that's the proper solution. Is there a cause why there is no usage of redits MGET?

[2015-12-14 13:29] mrniko commented on #263
Hi @flashas8. I can add follow method to `RedissonClient` interface, which will use MGET operation:
[code]

That do you think about it?

[2015-12-14 15:28] flashas8 commented on #263
That would be absolutely awesome!

[2015-12-14 17:19] doggie1989 opened #326 "Auto Deploy Redis Clusters function."
Redisson.createCluster.node(ipAddress,sshUsername,sshpassword).node(ipAddress,sshUsername,sshpassword).node(ipAddress,sshUsername,sshpassword).deploy();

[2015-12-14 23:44] jonhkr opened #327 "BlockingQueue questions"
Hello,
I have some questions about BlockingQueue, if I have two different consumers, can I be sure that an object in the queue won't be consumed by both consumers at the same time? Does it implement any locking mechanism to prevent that?

[2015-12-15 04:28] SaroLain opened #328 "an error in RedissonSortedSet"
RedissonSortedSet(Codec codec, CommandExecutor commandExecutor, String name) without
"this.commandExecutor = commandExecutor;"
cause throw NullPointerException at loadComparator()。

    protected RedissonSortedSet(CommandExecutor commandExecutor, String name) {
        super(commandExecutor, name);
        this.commandExecutor = commandExecutor;

        loadComparator();

        commandExecutor.

[2015-12-15 09:59] #299 closed

[2015-12-15 09:59] mrniko commented on #294
@faquad it's done!

[2015-12-15 10:20] mrniko commented on #328
`RedissonSortedSet` but it can't work without commandExecutor

[2015-12-15 10:40] monoceros opened #329 "RLock did not work"
It's very wired. I just run a very simple test case to try redisson lock. But the result is not good.
Can anyone show me why RLock didn't work?

[code]
The results are as below. It seems the lock failed completely.
number is: 1
number is: 2
number is: 3
number is: 5
number is: 5
number is: 6
number is: 6
number is: 7
number is: 8
number is: 8

[2015-12-15 10:44] mrniko commented on #263
@flashas8 I thought about this feature again and decided to return value Map instead of `RBucket` objects. Because `RBucket` it always a live view of object state and it would be wrong to initialize it with already loaded value. So my suggestion to return `Map<Key, Value>`:
[code]
Any comments are welcome

[2015-12-15 10:48] mrniko commented on #329
It's really wired. Could you please show a Redisson `config` object

[2015-12-15 10:52] mrniko commented on #328
@SaroLain Fixed.

[2015-12-15 10:52] #328 closed

[2015-12-15 10:56] mrniko commented on #75
@doggie1989 ping

[2015-12-15 11:01] monoceros commented on #329
Very simple:
		final Config config = new Config();
		config.useSingleServer().setAddress("IP:6379");

[2015-12-15 11:02] mrniko commented on #329
Redisson and Redis version? also OS version

[2015-12-15 11:03] monoceros commented on #329
My point is that I don't mind to get some exception when I remove "new Random().nextInt(100)". That's another issue. But I cannot accept the number sequence is totally wrong.

[2015-12-15 11:04] mrniko commented on #329
I run your test and output is:

number is: 1
number is: 2
number is: 3
number is: 4
number is: 5
number is: 6
number is: 7
number is: 8
number is: 9
number is: 10

[2015-12-15 11:05] mrniko commented on #329
So please tell me Redisson version, Redis version and OS version which you used.

[2015-12-15 11:07] flashas8 commented on #263
Sounds great!

[2015-12-15 11:08] monoceros commented on #329
Redis 3.0.5
Redisson  2.2.2
OS Ubuntu 14.04

[2015-12-15 11:15] monoceros commented on #329
Another try:
SLF4J: The following loggers will not work because they were created
SLF4J: during the default configuration phase of the underlying logging system.
SLF4J: See also http://www.slf4j.org/codes.html#substituteLogger
SLF4J: org.redisson.connection.SingleConnectionManager
SLF4J: org.redisson.connection.SingleConnectionManager
SLF4J: org.redisson.connection.SingleConnectionManager
SLF4J: o

[2015-12-15 11:47] mrniko commented on #329
`Can't init enough connections amount!` it seems like it can't connect to server at all

[2015-12-15 12:27] mrniko opened #330 "Add MGET command support via loadBucketValues method"

[2015-12-15 12:27] mrniko commented on #263
I created #330 for it

[2015-12-15 12:28] #330 closed

[2015-12-15 12:36] mrniko opened #331 "Add size method to RKeys"

[2015-12-15 14:16] mrniko commented on #327
Hi!

Redis guarantees that it's impossible to pop same value by multiple clients.

[2015-12-15 15:04] flashas8 commented on #263
Cool stuff! But what do you think about the insert with `MSET`?

[2015-12-15 15:38] mrniko commented on #329
@monoceros it's a regression bug since 2.2.2 version